<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Поиск по песням Ивасей </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>Ищите песни с заданным словом легко!</h1>
    <form action="/info" method="post">
      <div class="form-group">
        <label for="place" > Введите русское слово, которое хотите найти в текстах песен (в любой форме) </label>
        <input type="text" class="form-control" id="word" rows="1" placeholder="злой" name="word"></textarea>
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>