<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> АРИЯ РОМАШОВА </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Это не я, хотя казалось бы и не за что мне было абсолютно 
Его любить. 
Это не я, его не стал я убивать, хотя и мог в лесу безлюдном 
Его добить. 
Я не пойму, как выполз он, 
Когда бомбили эшелон, 
Как он добрался до этих осин, 
Где я наткнулся на него - 
Едва живого друга детства своего. 
Да, я не любил, да, я не любил 
Друга своего. Да, да, да, да, да! 
Ну и что с того? 
Клятвы на крови, дружба навсегда, 
Все это мура, 
Чушь, чушь, чушь, чушь, чушь!!! 
Детская игра. 
Все это мура, все это му-ра, 
Детская игра! 
Закон природы прост: 
Из змеиного яичка (2р.) 
Не вылупится дрозд, 
Не получится синичка (2р.). 
И глупо ждать, что род людской устроен по-другому. 
Дети, хоть и невинные, но все же человеки. 
Из непорочных человеческих детей 
Никто другой уже не вырастет вовеки, 
Кроме людей, мерзких людей. 

Я сказал ему все это, 
Он ответил: "Отвяжись!". 
Я сказал: "Ну вот уж нет уж, 
Ты испортил мне всю жизнь. 
Знаешь, что это такое?! 
Эта штука - пистолет. 
Я сейчас взмахну рукою, 
И моей проблемы больше нет!". 
А он: мол, врешь, мол, слаб ты покончить со мной. 
А я: смотри, смотри я спускаю крючок. 
А он, стервец, калека, лежачий больной 
Схватил костыль да так его сильно швырнул, 
Что отбил мне плечо! 
Он же костылем мог меня убить, 
Это же маньяк! 
Вот, вот, вот, вот, вот! 
До сих пор синяк. 
Я этот костыль, я этот костыль, я его схватил - 
И, и, и, и, и.. 
И расколотил! 
Я забрал его вещички, (2р.) 
Всю еду и даже спички. (2р.) 
И я ушел. Просто ушел! 
Это не я его убил. 
Он сам подох, 
Сам подох, подох. 
</PRE></div>
</body>
</html>