<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> АРЕСТ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>- Кто среди вас тут будет Иван Григорьев? 
- Если Иван Григорьев нужен, то вот он я. 
- "Вот он я"... Твой ли это нож, Иван Григорьев? 
- Вроде как похож. Да. 
- Значит, узнаешь? 
Очень хорошо! 
Что же ты его не спрятал в море? 
Стало быть, Григорьев, 
Ты еще и глуп, 
Ты еще и туп. 
Ладно, душегуб, давай, пошёл! 

- Что тут еще за сосунок?! 
- Это Григорьева сынок. 
Он от рожденья слова вымолвить не умеет. 
- Если он нам чего сообщить имеет, 
Пусть он сперва разучит хотя бы пару слов. 

- Смилуйтесь, погодите, 
Нешто вы не родитель. 

(Григорьев) - Полноте, ваше благородие, не шутите! 
Так поступать негоже! 
Эдак, не дай-то боже, 
Невесть чего народ артельный подумать может! 
(Рабочие) - Он тут, промежду прочим, 
Старший среди рабочих! 
(Работницы) - Виданное ли дело - 
Честных людей порочить! 

(Пристав) - Да, он честным оказался - 
Сам в злодействе расписался! 
Вырезал буквами кривыми 
На ноже собственное имя. 

Где ты его оставил? Ну-ка, припомнишь, может, 
Где и когда оставил ты этот ножик? 
Где это было, спрашиваю я третий раз. 
(Рабочие в испуге)- Третий раз! 
- Третий и на этот раз последний. 
- Я его намедни где-то обронил, 
Да не помню где. 
- Верно, обронил, но не намедни, 
А сегодня ночью ты его забыл 
Я напомню где: 
Там, у почтальона в животе! 

- Этого быть не может! 
Этого быть не может! 
- Вы же слыхали сами, 
Как он признал свой ножик. 
- Этого быть не может! 
- Хватит вам, разойдитесь! 
- Вы уж там, ваше благородие, разберитесь! 
Мы-то уж, не сердитесь, грамотные не шибко. 
Но по всему выходит - произошла ошибка. 
Не губите, он не виноват! 
</PRE></div>
</body>
</html>