<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> БАБАЙ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Бабай (колыбельная)

Он в мороке ищет, ужасный он самый,
С густой бородищей до самой земли,
С клыками, с усами, со всеми красами,
Которыми страх наделил.

           Ай, Бабай - все его боятся,
           Хоть он никому не повредил.
           Ай, Бабай, всяко может статься:
           Ты на всякий случай уходи...

Он кроткого духа, он грозного вида,
Он чуткий в три уха, он зоркий в семь глаз...
А кто его видел, никто и не видел,
Но слышали все и не раз.

           Ай, Бабай, он стучится к людям,
           Сотни лет все цел и невредим.
           Ай, Бабай - все его не любят,
           И во сне бормочут: уходи...

Он хныкать не смеет, он знает, что нужно:
Как только стемнеет успеть в каждый дом.
И в слякоть и в стужу он верою служит,
Он правдой стоит под окном.

           Ай, Бабай - жуткая работа.
           Сделался он скрыт и нелюдим.
           Ай, Бабай, ну кому охота
           Слышать каждый вечер: уходи...</PRE></div>
</body>
</html>