<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> БЕСКОНЕЧНЫЙ ДЕНЬ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Бесконечный день

                Георгий Васильев

Ты находка и утрата,
Ты - приманка, полная коварства,
Излечившее когда-то
И влекущее с тех пор лекарство.

Аспирин ты мой, ты - мой женьшень,
Трёхдюймовая броня.
Бесконечный день, безумный день, |
Отпусти меня.                    | 2 раза

Отпусти меня укрыться
Там, где жизнь записана на плёнку,
Где легко шуршат страницы
Под сопенье спящего ребёнка.

Я хочу нырнуть в ночную лень,
Будто в прорубь из огня.
Бесконечный день, безумный день, |
Отпусти меня.                    | 2 раза</PRE></div>
</body>
</html>