<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> БЕРЕЖКАРИКИ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Бережкарики(Песня про конечности)

А. Иващенко  

Ах, как приятно протянуть свои конечности,        D              F#m7
Свои конечности, свои конечности.           Fm7   Em7           A7
И пораздумывать часок-другой о вечности, D                   F#m7
Часок о вечности, другой о вечности.         Fm7   Em7           F#7

Припев:
    Мигая мне фонариком                Hm        G         D
    Плывет баржа,                      C#m7/-5   F#7       Hm  /A
    А следом три пескарика             G         E7/G#       D/A
Gm/B
    И два моржа.                       D         A7        D


А в двадцати пяти шагах водица плещется,
Водица плещется, водица плещется.
И в темноте не то зовут не то мерещится,
Не то мерещится, не то мерещится.

Припев.


Комар летит на костерок полузатушенный,
Полузатушенный, полузатушенный.
А я лежу во все места уже укушенный,
И в глаз укушенный, и в нос укушенный.

Припев.


И потихонечку глаза мои слипаются,
То разлипаются, то вновь слипаются.
А в это время с неба звезды осыпаются,
Все осыпаются и осыпаются.

Припев.


Давным-давно прошла баржа вдоль бережка реки,
Вдоль бережка реки, вдоль бережка реки,
И в теплом иле закемарили пескарики,
Мои пескарики, мои пескарики.

    Пустую суету мою
    Уносит ввысь,
    А я лежу и думаю
    Простую мысль:


Покуда ноги есть - дорога не кончается,
Все не кончается, и не кончается,
Покуда попа есть - с ней что-то приключается,
Все приключается и приключается.

Припев.</PRE></div>
</body>
</html>