<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> БЕДНОЕ МУМУ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Бедное Му-му

    Am                E
Я недавно гулял по аллее
                     Am
И гуляя, постиг постулат,
       Dm             Am
Что никто никого не жалеет
        Dm6     E        Am
И друг другу товарищ не брат.

         Dm6          Am
     Ах, бедный я, несчастный,
        E          Am
     Ненужный никому.
         Dm6       Am
     На дно я погружаюсь,
          E        Am
     Как бедное Му-му.

Два часа я сидел на скамейке
И открыл объективный закон,
Что не вытрясти даже копейки,
Непрерывно тряся кошельком.

     Ах, бедный я, несчастный,
     Прижатый я к ногтю.
     Бо-бо моя головка
     И денежки тю-тю.

Доказал я жене теорему,
Возвратившись домой под арест,
Что я мог бы найти ей замену,
Если б сам представлял интерес.

     Ах, бедный я, несчастный,
     Без палочки я нуль.
     Со дна вам посылаю
     Свой пламенный "буль-буль".

Вот такие в природе законы
Мне открылись неведомо как,
Вероятно я был бы Ньютоном,
Если б звали меня Исаак.

     Одно лишь непонятно:
     За что и почему
     Я гибну безвозвратно,
     Как бедное Му-му,
     Как бедное, несчастное,
     Но гордое Му-му.</PRE></div>
</body>
</html>