<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> БОЛЬШОЙ И МАЛЕНЬКИЙ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Большой и маленький.

1. Эй, здорово, длинный,
  Что несешь в портфеле,
  Благо у тебя здесь целый магазин,
  Где ж ты это все купил 
  Да неужели ты все это съешь один?
  Ты сравни себя со мной,
  У меня ведь рост иной,
  При моем телосложенье
  Много денег и терпенья
  Тратить надо на еду.
  Поддержать себя пытаясь
  Калорийноя питаюсь
  И свой рацион блюду.

2. Я не возражаю,
  Но посмотрим шире:
  У меня вот дети, теща и жена,
  Но в твоей квартире комнаты четыре,
  А в моей всего одна.
  Ты сравни себя со мной,
  У меня ведь рост иной,
  При моем телосложенье
  Нужно быть всегда в движеньи
  По квартире взад вперед.
  Если рассудить по росту 
  Комнаты мои ... ... ...</PRE></div>
</body>
</html>