<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> В ОТНОШЕНИИ ГАЛЕРЕЙ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>В отношеньи галерей - как-то я сходил в музей...

В отношеньи галерей -
Как-то я сходил в музей.
А шедевров не нашёл, хоть убей!
Что находят в этом люди -
Эти розовые груди,
Эти голые бока...
Я бы братцы,
Рад стараться,
Да никак.

Что рисует Ренуар?
Он рисует будуар!
Разливается в пастельных тонах!
А взглянуть на это в призму -
Никакого реализма,
Ни в пальте, ни при штанах,
Вид такой,
Что хочешь - ой,
А хочешь - ах.

Или спросят у мене - 
Чем мне дорог Клод Моне?
Тычут пальцами в пейзаж,
Мол - уважь!
А на хрена мне эта каша?
Это ж, братцы, всё не наше,
То - не наш пейзаж, не наш!
Всё империалистическая блажь!

Или скажем - натюрморт.
Что нам этот Матерьмо?
Фрукты, овощи, а там - спирт, вино!
Тоже, мол, искусство скажут,
Это ж, братцы, может каждый,
Это ж даже мне смешно - 
Тяпнул-хряпнул, 
Кистью ляпнул - 
И панно!

Нарисуют чёрт-те-шо:
Руки в брюки - и пошёл!

Ну буржуй, он и буржуй, что возьмёшь!
А у нас ведь, гады, тоже,
Было время - били в рожи,
Распустили хрен поймёшь,
Дай свободу -
Так и ходу 
За рубёж.

Нет уж, раз социализм -
Подавай нам реализм!

А свобода - это как понимать?
Я чтоб с пользой для народа,
Я за нужную свободу,
За свободу не встревать -
Тихо, дружно,
То, что нужно
Рисовать.

Ведь подумать - просто срам!
Сколько это стоит нам!

Братцы, как они живут, как живут!
Жрут, воруют, жён кидают,
Ни хрена не созидают,
Идеалы продают...

Правда пил я с ними раз - прилично пьют!</PRE></div>
</body>
</html>