<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> В АЭРОПОРТУ 'МИНВОДЫ' </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>В аэропорту МИН-ВОДЫ.


ми фа# соль фа# ми си F#7 F7 Em.

Em                 Am7(6) H7                      Em  F#7
У тучи нет иной заботы,     как наше солнце закрывать.
Em              Am7(6) H7                    E7
И расписание полетов     безумным образом менять.
    Am7                 D9     G7+                F#7 H7
Все небо в серой простокваше и мелкий дождик облажной,
  Em               F            Em   H7 C    Am
Отложит все заботы наши до восемнадцати ноль ноль.
Em       F#7     H7   Em
До восемнадцати ноль ноль.

У ветра нет иной заботы, как наши тучи разгонять
И расписание полетов волшебным образом менять.
Мы все в плену у атмосферы пока не стихнет дождь косой
И ожиданье профиль серый повис над взлетной полосой.
Повис над взлетной полосой.

У солнца нет иной заботы, как наши ливни прекращать
И расписание полетов через окошко освещать.
Молчит измученный диспетчер, закрывший небо до шести.
Не плачь, мой друг, еще не вечер, мы непременно улетим.
Мы непременно улетим.

У жизни нет другой задачи, как ожиданьем нас томить.
Билет в руке, багаж оплачен, так что же ты медлишь, черт возьми.
Когда еще счастливый случай представит нам аэрофлот.
Коль наше счастье так летуче, мы разрешим ему полет.
Мы разрешим ему полет.</PRE></div>
</body>
</html>