<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ВАРЯГ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Варяг

1. Какой же ты моряк,
  Когда ты с печки бряк,
  Какой же ты герой,
  Когда штаны с дырою,
  Но не сдается никому
  Дырявый наш варяг,
  Хотя ему одно пора порою.

2. Хотя ему пора 
  Быть сдатым на дрова,
  В утиль, металлолом и прочие отходы,
  Но мы бодры и веселы,
  И мы кричим "Ура!"
  Чтоб знали все как тонут пароходы.

3. Чтоб знали все, что мы
  Великие умы,
  Чтоб знали все,что нас 
  Задешево не купишь.
  Везде от моря Черного
  До белой Колымы - 
  Мы трудностям показываем кукиш.

4. Ах, наш удельный вес
  Практически исчез,
  Но может от того мы все-таки не тонем
  И пусть для нас грядущее
  Кромешно темный лес
  Отдать концы ! Зашить штанцы ! По коням !

5. Какой же ты моряк,
  Когда ты с печки бряк,
  Какой же ты герой,
  Когда штаны с дырою,
  Но не сдается никому
  Дырявый наш варяг,
  И варится на камбузе второе.</PRE></div>
</body>
</html>