<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ВАЛЬС ПОСЛЕ ПРЕМЬЕРЫ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Вальс после премьеры

                     А.Иващенко

Обрывки декораций,
На сцене свет погас.
И зал опять оскалил пасть партера.
А за кулисами актеры
В тишине танцуют вальс
Сентиментальный, старый вальс
После премьеры.

Пр: Вальс после премьеры
       Танцуют актеры.
       И музыканты, и режиссер.
       Расслаблены нервы
       Окончены споры
       Гаснет прожектор.
       Кончилсь все.

И словно где-то в сердце
Оборвалась струна...
Но нам ведь вроде плакать
Не пристало.
И вновь король стал просто Колей,
А принцесса у окна
Палит шампанским в потолок
И бьет бокалы.

Пр: Вальс после премьеры
       Танцуют актеры.
       И декоратор, и костюмер.
       Расслаблены нервы
       Окончены споры
       Будто не будет
       Больше премьер...</PRE></div>
</body>
</html>