<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ВСТРЕЧНЫЙ МАРШ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>ВСТРЕЧНЫЙ МАРШ

Играет встречный марш, звучит команда "Марш!"
И стройные ряды чеканят шаг пыды-пыды.
Почетный караул берет "на караул"
И оживлен народ, он ждет, он ждет,
Все готово и вот-вот подадутся все вперед...

 И кавалерия с усами до ушей,
 И караул, который строго всех взашей,
 Коты и голуби веселые с утра,
 И толпы зрителей, которые "ура!"

Разноцветные шары дождались своей поры,
А начищенная медь умудряется как гром греметь.
Флаги реют впереди, но туда не подойди,
Все на цыпочки встают и салют отдают,
Все доторонуться хотят и приветствия летят...

 Где кавалерия с усами до ушей,
 И караул, который строго всех взашей,
 Коты и голуби веселые с утра,
 И толпы зрителей, которые "ура!"

Я с радостным лицом вступаю на крыльцо
Средь моря вздетых рук, которое кипит вокруг.
Я в голос петь хочу, и радость не унять,
И лишь совсем чуть-чуть мне жаль чуть-чуть
Что нынешнего дня встречают не меня...

 И кавалерия с усами до ушей,
 И караул, который строго всех взашей,
 Коты и голуби веселые с утра,
 И толпы зрителей,
 И толпы зрителей,
 И толпы зрителей,
 Которые "Ура! Ура! Ура! Ура! Ура!"</PRE></div>
</body>
</html>