<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ВСЮ НОЧЬ ИГРАЛИ ВЕТРЫ... </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Ночь

                А.Иващенко

Всю ночь играли ветры в кошки-мышки,
Сдувая с неба мраморную муть,
Жаль, знали мы об этом понаслышке,
Жаль, сами не успели мы взглянуть,
Жаль, сами не успели мы взглянуть.

Всю ночь мелькали звёзды в стёклах окон,
И Млечный путь в созвездиях блуждал.
Как жаль, что нам ни словом, ни намёком,
Никто об этом не предупреждал,
Никто об этом не предупреждал.

Всю ночь играла скрипка под балконом,
Всю ночь вздыхала лютня тяжело.
Жаль, не было известно ничего нам
Про автора мелодии и слов,
Про автора мелодии и слов.

Всю ночь усталый путник у порога
Ждал молча позволения войти.
Жаль, спали мы, не ведая, как много
Успело в эту ночь произойти,
Успело в эту ночь произойти.</PRE></div>
</body>
</html>