<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ГЛАВСЕВМОРПУТЬ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Как широка страна моя родная, 
Ни ближних и ни дальних концов в ней не найти. 
Как управлять такой, никто не знает, 
Ведь каждый в ней дерзает 
И всякий в ней стремглав летит! 
Ах, ах, ну полный швах! 

И все хотят на веру, 
И все хотят без сметы, 
А где же аргументы, 
Где численный расчёт!? 
Во всём должна быть мера, 
На всё должно быть вето, 
С печатью документы, 
Порядок и учёт! 

(Саня Григорьев)- Я из восьмого летного отряда 
С командировочным листом, 
Военбилет при мне.. 
- Билет не надо! 
- Мне бы отметочку.. 
- Потом! 
- Так мне сюда? 
- Никак не разберу я! 
- Так я пройду? 
- Конечно, нет! 
- Но почему?! 
- Вам в семьдесят вторую! 
- Но я там был! 
- Сейчас обед! 

Нельзя же так на веру, 
Нельзя же так без сметы, 
Должны быть аргументы 
И численный расчёт! 
Во всём должна быть мера, 
На всё должно быть вето, 
С печатью документы, 
Порядок и учёт! 

- А как же он? - Есть нужды, по которым 
Нельзя тянуть! - Вот это да! 
А я три дня хожу по коридорам 
И тоже срочная нужда! 
- А ну потише, Вы здесь не шумите! 
- Нет, я нарушу ваш покой! 
- Вы кто такой? 
- Я негр Тити-Мити. 
- Да Вы.. Да Вы.. Вы кто такой?! 
- Меня зовут Григорьев Александр. 
Живу я на вокзале, я круглый сирота.. 
- Псих! 

Нельзя же так без спросу, 
Нельзя же так без сметы, 
Где факты, аргументы 
И письменный расчёт? 
На сложные вопросы 
Поступят в срок ответы. 
Должны быть документы, 
Порядок и учёт! 
</PRE></div>
</body>
</html>