<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ДВАДЦАТЬ МЕТРОВ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Тихий рок-н-ролл

One, two, three, four, пять, четыре, три, пятнадцать:

    Hm7   E7   A6   F#7   Hm7   E7   А

A6    E5+           A6        E5+
Еще осталось метров двадцать,
A6       E5+         A6   F#7
Я от волненья весь горю,
Hm7        C#7      F#m7
Ох, не смогу я удержаться -
             H9/7      H7
Возьму, и с ней заговорю.
A6             E7            A6           E5+
- Постойте, здравствуйте, я Петя, -
A6           E5+       F#7
Скажу я, в грудь себя бия.
Hm7       Dm/F        A6          F#7
Она мне, может, не ответит,
       H9/7  E7      A6    F#7
Или ответит: - Зульфия.
       H9/7  E7      A6
Или ответит: - Зульфия.

И я, от радости, умнея,
Еще чего-нибудь скажу,
И вместе с нею по аллеям
Я до рассвета проброжу.
И с трелью первого трамвая
Все станет просто и легко,
И прошепчу я, замирая:
- Люблю тебя я, Сулико,
Люблю тебя я, Сулико!

И в духе полного доверья
Мы с ней бы зажили вдвоем,
И я твердил бы: - Эх, Лукея,
А всетки славно мы живем!
Сидели б мы у самовара
И с калачами пили чай -
Сынок Плутоша, дочка Клара,
А также внучка Гюльчатай,
А также внучка Гюльчатай.

Осталось только поравняться,
Пройти последние шаги:
Ну, вот и все, прощайте, братцы!
О, Боже правый, помоги:
A6        E5+           A6      E5+
Глаза острей булатной стали
A6          G#5+       C#m5-/7/G   F#7
Тоской мне сердце обожгли:
Hm7          Dm7        A6         F#7
Ах, как мы славно помечтали -
           H9/7 E7   A6      F#7
Прощай красотка Натали!
           H9/7 E7   A6      F#7
Прощай красотка Натали!
           H9/7 E7   A6
Прощай красотка Натали!</PRE></div>
</body>
</html>