<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ДВЕ КАПЛИ НА СТАКАН ВОДЫ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Когда во тьме путей не вижу...

                А.Иващенко

Когда во тьме путей не вижу,
Когда обиды валят с ног,
И злоба, как лисенок рыжий,
По сердцем точит коготок,
Когда пойму, что зря воюю,
И что враги, как сталь, тверды,
Настой травы надежды пью я -
Две капли на стакан воды.

И сила дивного настоя
Разрушит мглы коварный плен,
Сердцебиенье успокоит,
И силы даст, чтоб встать с колен.
Пусть мой настой не слишком сладок,
И пусть надежда мне горька,
Зато ее так мало надо -
Всего две капли на стакан.
Зато ее так мало надо -
Всего две капли на стакан.</PRE></div>
</body>
</html>