<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ДВЕ БАБОЧКИ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Ночь

  Dm             Gm6          A7
Две бабочки дневных в ночи немой
     Dm        Gm6            С C9- C7
вслепую бились в ожиданьи встречи,
    F             E7         Am  D#dim
но был как-будто ночью засекречен
    Em                  F#7   H7     Em A7
их путь друг к другу, днем такой прямой.

   Dm          Gm6     A7
И падая в раскрытое окно,
    Dm         Gm6            С C9- C7
два отраженья неба в стеклах мутных
    F        E7         Am D#dim
дрожали и двоились поминутно,
     Em           F#7   H7     Em E7
но слиться так и не могли в одно.

    Am          E7            Am E7
А ночь стремилась к встрече с белым днем,
  Am     H7        Em     A7
им так хотелось быть одновременно,
   Dm   A7   A7/C#   Dm  E7
но им судьба велела жить посменно -
      Am             E7            Am Gm6 A7
иль свет, иль тьма, но никогда вдвоем.

Два параллельных лучика сквозь мрак
неслись, бросая вызов царству тени
и веря лишь в свое пересеченье
в другом пространстве, там, где все не так.

Ночные птицы плакали вдвоем,
прорвать пытаясь криком воздух сонный,
и обе так стремились к унисону,
что обе пели каждая свое.

А отраженья в матовом окне,
дрожа, двоились, как ночные птицы,
но так и не смогли соединиться,
но так и не смогли, но так и не...</PRE></div>
</body>
</html>