<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ДИРЕКТОР ШКОЛЫ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>I
Нет, мне изначально непонятно: 
Как такое вы могли себе позволить?! 
Да, мне чрезвычайно неприятно 
Что сие вообще возможно в нашей школе! 
А знаете ли вы, что все злодейства, 
Подлые предательства и фарисейства 
Так же начинались 
С вроде бы пустяшных и невинных мелких действий? 
Ибо, как известно: 
Коготок увяз - всей птичке пропасть! 

Крыса на уроке - это дерзость! 
Ну-ка, Ромашов, поведай нам, давай-ка - 
Как организовал ты эту мерзость. 
- Что вы, Николай Антоныч, это Валька! 
- Ах, так это Жуков крыс приносит! 
- Это же хомяк, а и не крыса вовсе! 
- Можно ли терпеть подобный вандализм 
В школе-коммуне, мы спросим. 
И ответим строго, без обиняков.. 

(Кораблев) - Вы разрешите? (Н.А.)- Нельзя!!! 

II
Вам за хулиганство два наряда! 
Крыса на уроке! Значит так, вы двое, 
В комнату заведующего складом 
Отведите прибывшего к нам героя - 
Пусть его оденут и обуют! 
Да, Вы не ослышались - его беру я, 
Пусть ребенок лучше учится у нас, 
Чем на вокзале ворует. 
Крысу утопить! Постойте, Кораблёв, 
Я задержу вас... чуть-чуть. 

Да, я - педагог, и мне понятно 
Жгучее желание помочь всем сразу. 
Но мне чрезвычайно неприятно 
Брать детей без направленья Наробраза. 
Вы же только за нынешнюю осень 
Привели таких, как он, примерно восемь! 
Можно ль так вести себя 
Учителям школы-коммуны, мы спросим, 
И ответим твёрдо, без обиняков - 
Вы извините - нельзя! 
</PRE></div>
</body>
</html>