<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ДОЖДЬ НАД ИССЫК-КУЛЕМ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Дождь над Иссык-Кулем.  Иващенко


    Em    Em7+ Em7Em6 Am7     H7         Em
   Дождь над   Иссык-Кулем сплошной пеленой,
   Em7+ Em7  Em6Am7     D7         G E7
   И   ночь чернилами льется с вершин,
            Am7       H7       C
   И серой горной курчавой стеной
         Am6    C          F#7  H7    Em
   Весь мир на части Тянь-Шань раскрошил.

          Am7      D7            Am7       D7          Em
Кто-то от нас вдалеке, стиснув фонарик в руке, месит болото.
          Am7     D7              Am7     D7           G
Кто-то, забыв про уют, в злом комарином краю ждет вертолета.
           Am7      D7         G
Где-то в морях, неизвестных и злых,
                               AmH7              EmEm7+Em7Em6
                     бродят суда, словно суши осколки.
            Am7       D7     G      E7
Где-то в степях расцветает полынь,
            C          Am7        F#7      H7
Там, за хребтом, мир живет, мир шумит, а у нас только...
   Припев.

Кто-то в избушке лесной тронет безмолвье струной тихо и нежно.
Кто-то в Нотр-Дам де Пари на языке говорит на зарубежном.
Но расстоянья считать не по нам,
                    встретимся вновь - человек не иголка.
Пусть нас опять разделила стена,
Там, за стеной, мир живет, мир шумит, а у нас только...
    Припев.

</PRE></div>
</body>
</html>