<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ДУЭТ ПРИНЦА И КОРОЛЯ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Дуэт принца и короля

Король: Сын мой, постой, туда нельзя - там отдыхает гостья.
Да что с тобой? Похоже, ты меня не слышишь вовсе.
Принц:   Что ты сказал?
Король: Кто - я?
Принц:   Меня покинул разум:
Король: Я говорю, она у нас в гостях:
Принц:   Я не встречал:
Король: С нее вода:
Принц:   В далеких странствиях любви ни разу.
Король: Ну что с ним сталось?

Припев: И вдруг любовь, чуть погодя,
Приходит мокрой от дождя.
И вдруг любовь:
Любовь моя на свете есть, -
Найти меня она была готова,
И я готов свой путь проделать снова,
Чтобы опять ее, вернувшись, встретить здесь.

Король: Сын мой, постой:
Принц:   Я того стою:
Король: Выходит так, что незнакомка эта
Принц:   За что такое счастье?:
Король: Не хуже той,
Принц:   Любовь мою:
Король: Из-за которой ты скитался где-то.
Принц:   Я утаить не властен:
Как объяснить,
Король: По меньшей мере, это странно очень:
Принц:   За чем бежим, чего хотим, что ценим?
Король: Очень странно:
Принц:   Кого винить,
Король: Мне нужно подготовить маму:
Принц:   Когда надежда исчезает тенью, как видение?
Король: Легко сказать - маму!:

Припев.</PRE></div>
</body>
</html>