<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ДУРЬ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Я опять намедни одичал...

   Em     F#7      Hm
Я опять намедни одичал,
      C#m5-/7  F#7     Hm
Где же вы,  здоровые задатки ?
      Am      H7         Em
Раздражаться стал по мелочам,
        C#7               F#7(IV)
Стал прощать большие недостатки.
   Em     F#7      Hm
И неужто снова началось:
        C#m5-/7 F#7         Hm
Вновь Содом, дурдом, неразбериха,
      Em     F#7          Hm
То ли радость это, то ли злость,
                       G
Все смешалось, все сплелось,
F#7       Hm
Лихо, мое лихо.

Так жена рвет в ярости чулки,
Потеряв надежду их заштопать,
Так, автопилоту вопреки,
Самолет нырком уходит в штопор,
Так баран с тупым упорством бьет
Черным лбом об изгородь кошары,
Я поплыл, я тронулся, как лед,
И ночами напролет                  |
Снятся мне кошмары.                | 2 раза

Отгоняя прочь ночную жуть,
Я с утра до вечера корячусь,
Как шахтер продукт произвожу,
И в работе, как в болоте, прячусь.
Исчезаю, сдав себя в наем,
Как ночной туман на дне оврага,
Чтоб не видеть света даже днем,
А гори она огнем                  |
Вся эта шарага.                   | 2 раза

Я зажат в железные тиски,
Я хриплю заезженной пластинкой,
А желанья рвут меня в куски,
И ревут животные инстинкты,
И топочут дикие стада,
Я рычу, мечусь, впадаю в детство.
Думал, дурь уймут года,
А, выходит, никуда               |
От нее не деться.                | 2 раза</PRE></div>
</body>
</html>