<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ДУЭТ КОРОЛЯ И КОРОЛЕВЫ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Дуэт короля и королевы

Король:
Ах, душа моя, дозволь обратиться,
Я, конечно же, могу ошибиться,
Но мне кажется, что в эту принцессу
Наш сынок уже успел влюбиться.

Королева:
Отчего же ты меня удручаешь -
Незнакомку записал уж в невесты,
И принцессою ее величаешь,
Между тем, как  это неизвестно.
Нам просто девица
Никак не годится.

Нельзя, чтоб само по себе
Текло продолжение рода!
Кокетке-судьбе я не верила сроду -
Слепа ее тетка-природа,
А чувства летучи, как ветер в трубе.

Король:
Ах, душа моя, но ведь на принцессу
Эта девушка ужасно похожа,
И манерами, и ростом, и весом,
И глазами, и улыбкой тоже.

Королева:
Я, душа, категорически против!

Король:
Но помилуй, а у нас-то как было!
И совсем еще недавно ведь, вроде,
Неужели ж ты все забыла?
Я помню прекрасно
Тот вечер ненастный:

Пом-пом: робкий стук под окном,
Мне папа твой вышел навстречу.
Прикрыл он плащом мои мокрые плечи.
В тот странный и сказочный вечер
Нежданное счастье вошло в этот дом.

А гром грохотал в медный таз,
И молния грозно сверкала.
Очаг наш то гас, то горел в полнакала,
И крыша чуть-чуть протекала,
Но козни погоды не трогали нас.</PRE></div>
</body>
</html>