<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ДУЭТ ДЯДИ ВАСИ И ФЕДИ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Дуэт дяди Васи и Феди


- Кто такой?
- А я Федя.
- А я дядя Вася, охранник с ружьем. Так что ты иди отсюда, Федя, здесь нельзя.
- А почему это здесь нельзя, дядя Вася, а?
- Это государственная тайна. Здесь меридиан пролегает. Секретный. 
- А ты, дядя Вася, значит, его охраняешь?
- Да, так что ты иди отсюда Федя, здесь нельзя!
- Слушай, дядя Вася, а продай-ка ты мне его.
- Это как? 
- Как-как, за деньги.
- Слушай, Федя...Ты кто такой?
- Я? Шпион.

- Могу я сделку предложить - 
  Со мной в Америку бежим,
  Работу брось.
  Решишь финансовый вопрос
  И будешь ездить летом в Лос-
  Анжелос,
  Кушать птичье молоко,
  In Las-Vegas(?) and Monako
  Не будешь больше сторожить,
  Не будешь на зарплату жить. 

        Купишь, дядя Вася,
        В Лас-Вегасе
        Кожаный пиджак.
      - От такого гада 
        Мне не надо
        Материальных благ!
      - О-о-о-о-о.
      - А захочу в Монако,
        То и сам по турпутевке съездию легко!

- Ты сразу мне не отвечай,
  Не делай дела сгоряча,
  Пойми, чудак:
  Ты сам же после будешь рад,
  Ты будешь кушать сервелат
  И пить коньяк.
  Сам себе построишь бар,
  O, Russian Vasya - superstar,
  Ты будешь парень very good,
  И будет плакать Голливуд.

        Будешь, дядя Вася,
        Ананасы
        Трескать круглый год.
      - От такого гада
        Мне не надо
        Даже... колбасы.
      - О-о-о-о-о. 
        Я вижу, ты патриот, дядя Вася?
      - Да, я - дядя Вася, а ты - сукин сын!

</PRE></div>
</body>
</html>