<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ЕЩЕ СТРЕЛУ ИЗ КОЛЧАНА </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Еще стрелу из колчана

 Am9               Am7+/9
Еще стрелу из колчана
Am7/9      Am6/9          Dm7
Не вынул злой волшебник случай,
Dm7                    B9/7
И черной молнией летучей
E7                   Am7
Не поразила нас она.

Dsus7 | E7/9+

Еще в объятия к беде
Нас не швырнула злая сила,
И цепь, что нас соединила,
Еще не порвана нигде.

Еще разлука и тоска
Не наступают нам на пятки,
И все пока еще в порядке,
Все хорошо еще пока.

А вдруг нам жизнь и впрямь дала
Отсрочку эту и поблажку,
А тетива уже в натяжку,
      E7          Am9
И заготовлена стрела.</PRE></div>
</body>
</html>