<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ЖИЗНЕРАДОСТНЫЕ ГОРЕМЫКИ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Горемыки

Бесконечная наша дорога,
Беспредельная наша нужда.
Видно, нам от сумы и острога
Не уйти никогда, никогда.
        Если горе у нас - то без меры,
        Если счастье - то в смертных боях.
        Всякий мох до огромных размеров
        Разрастается в этих краях.

Разливаются лужи морями
И ветрами ревут сквозняки,
Но точим мы в снегах снегирями
И в торчаньи своем велики.
        Велики мы нехитрой одеждой,
        Незатейливым складом ума,
        Велики мы безумной надеждой
        Что не вечны сума и тюрьма.

Оттого-то по горло в болоте,
Или в рыжей дорожной пыли,
Мы на каждом крутом повороте
Что-то пристально ищем вдали.
        Издавая орлиные клики,
        Мы душою уносимся ввысь.
        Жизнерадостные горемыки -
        Ах, зачем мы на свет родились?</PRE></div>
</body>
</html>