<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ЗЕМЛЯНИЧНАЯ ПОЛЯНА </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Разлетались в кусты мотыльки...

                А.Иващенко

Разлетались в кусты мотыльки
Из-под каждого нашего шага,
И избранник сезона - июль
Изумрудный костер разжигал.
Мы хотели дойти до реки,
А дошли лишь до бровки оврага,
И на самом, на самом краю
Мы устроили первый привал,
Мы устроили первый привал.

Ах, как время бесшумно текло
На краю земляничной поляны,
Что в июне успев отцвести,
Вдруг укуталась сладким ковром.
Мы хотели собрать полкило,
А собрали всего полстакана,
Да и ту на обратном пути
Растеряли в овраге сыром,
Растеряли в овраге сыром.

И с тропинки прямой, как копье,
Мы свернули в открытое лето,
Мотыльки разлетались в кусты,
Слыша дерзкие наши шаги.
Мы стихи сочиняли вдвоем,
А сложить не смогли и куплета -
Видно, головы были пусты,
Или заняты были другим,
Или заняты были другим.

Видно, два большелапых щенка
Заплутали в просторах великих,
И вернулись к заветной прямой,
Испугавшись блуждать  до зари.
Мы отправились счастье искать,
А нашли только горсть земляники,
Да и ту по дороге домой
Всю просыпали, черт побери,
Всю просыпали, черт побери!</PRE></div>
</body>
</html>