<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> КАКАЯ СТРАННАЯ ВОЛНА </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Какая странная волна


D | Hm7 | G | Gm/B | A7 | D | Hm7 | G | Gm/B | A7/5+

        D7+       D7+/C#   H7             Em7
Какая странная волна адреналин хлеснула в вены !
         Gm7       D7+           E7           A7
Ах как приятно осознать, что ты еще не все продал
        D7+       D7+/C#          H7         Em7
И что душа твоя жива, над ней не властны перемены,
         Gm7      D7+             E7  A7    D
И все подмены и измены в ней не оставили следа.

D | Hm7 | G | Gm/B | A7 | D | Hm7 | G | Gm/B | A7/5+

А мне казалось, я давно уже порос зеленым мохом,
И силомер моих страстей остановился на нуле,
А оказалось, что со мной совсем не так уж дело плохо, -
Я что-то главное сберег от отложения солей.

D | Hm7 | G | Gm | A7 | D | Hm7 | G | Gm | A7/5+

Я столько лет спокойно спал, я так давно не видел друга,
Я так отвык дарить цветы и так устал от беготни,
И вдруг, как заяц, ускакал из заколдованного круга,
И в каждой клеточке упруго ядро, как колокол, звенит !

Вокализ: D | Hm7 | G | Gm/B | A7 | D | Hm7 | G | Gm/B | A7
        D | Hm7 | G | Gm/B | A7 | D | Hm7 | G | Gm/B | A7/5+

Я словно парусник попал в тайфун по имени "Удача",
Я как бывалый капитан все мачты разом обрублю.
И в каждой клеточке своей я, как мальчишка, это прячу,
          Gm7         D7+             E7   A7     D7+
И каждой клеточкой молчу, как каждой клеточкой люблю !
          Gm7         D7+             E7   A7     D
И каждой клеточкой молчу, как каждой клеточкой люблю...

D | Hm7 | G | Gm | A7 | D | Hm7 | G | Gm | A7
D | Hm7 | G | Gm | A7 | D | Hm7 | G | Gm | A7/5+</PRE></div>
</body>
</html>