<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> КАПИТАНЫ СОБСТВЕННОЙ СУДЬБЫ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>(Ромашка)- Эй, Григорьев, добрый вечер, 
Валь, смотри, какая встреча! 
Тут на нас с тобой уже и не глядят. 
(Валя)- Извини, что помешали! 
(Саня)- Познакомься, это - Валя. 
(Ромашка)- Ромашов. 
- Екатерина. 
- Очень рад. 
-Будем дружить. А это что за зоосад? 
- Это Валькина подружка. 
На какую-то лягушку 
Этот псих потратил целый миллион! 

(Катя)- Что за ящерка смешная? 
(Валька)- Я и сам не очень знаю, 
Продавали, говорят - хамелеон. 
(Саня)- Кто?! 
- Только не взрослый, а пока что эмбрион. 

(Появляются взрослые герои) 
Не церковно-приходская, 
Не какой-нибудь приют, 
А шестая городская, 
Где друзей не предают. 

Мы возьмём с собой из детства 
Наше скромное наследство, 
Неприметное для посторонних глаз: 
Наши детские заботы, 
Наши драки и бойкоты. 
- Наш лактометр! - И наш гремучий газ! 
- Пару лягушек! - И копилку про запас! 

Капитаны собственной судьбы - 
Это нас зовёт сигнал трубы, 
Это нам подымать якоря 
И, над морем паря, 
Обжигаться о солнце. 
И двенадцать месяцев в году 
Нам грести сквозь радость и беду, 
Нам греметь, словно звонкая медь, 
И искать, и бороться. 

Нашим клятвам и законам 
Мы с тобою неуклонно 
Будем следовать повсюду и всегда: 
(Сани)- Бить - так в глаз! 
(Кати)- Любить - так пылко! 
(Ромашки)- И свою свинью-копилку 
Беззаветно пронести через года. 
(Вальки)- Не предавать! 
(Все вместе)- И не сдаваться никогда! 

Друг сердечный, друг мой дорогой, 
Знай - отныне я всегда с тобой. 
И пускай поменяемся мы, 
Поменяется мир, 
Сквозь года прорастая. 
Но 12 месяцев в году 
Знай, что я тебя не подведу. 
Я тебя никогда не предам 
И в обиду не дам 
Никому никогда я 
Тебя! 
</PRE></div>
</body>
</html>