<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> КАК МЫ СТРОИЛИ НАВЕС </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Как мы строили навес на даче у Евгения Иваныча

               Музыка А.Иващенко
               Слова Г.Васильева

Em        Am7       H7      Em
На кочках цветочки, за кочками лес...
   Am7        Am7/C    D7
На дальний глухой полустаночек,
  G               C
Наладив пилу да рубаночек,
    Am7     D#7/B    Em/H    C
С утра мы приехали строить навес
   F#7      H7     Em
На дачу к Евгений Иванычу.

А дачи то, дачи и нет у него :
Купил он участок заброшенный,
Доплелся с посильною ношею,
И вот посреди барахла своего
Стоит он в тельняшечке ношеной.

      F#m7   H7        Em       Em/G
      Ах, Евгений Иваныч в полосочку !
      F#m7   H7     Em    Em/H  Em/C  Em/C#
      Ох, да шкиперская борода !
      F#m7     H7      C
      Держит левой он детскую сосочку,
      Am7    Edim     H7
      Держит правой орудье труда...

Евгений Иваныч - морская душа,
И дочка его Маришанечка
Душою морскою в папанечку.
Расписывать всем, как она хороша,
Часами он может за чайничком.

Но нам не до чаю : мы рвемся скорей
Докончить навес перемычками,
А то ведь беда с электричками,
Ведь спать, как хозяин, без стен и дверей
На голой земле без привычки мы.

      Залезает он в спальничек спаренный,
      Каждый вечер себе говоря :
      "Ничего, перетерпим, не баре, мол !
      Будем греться пока изнутря."

Корежит и гнет его радикулит
Прохладною майскою ноченькой,
Но строит и строит он прочненько,
А дачи все нет, а мотор барахлит...
Плевать, не себе же, а доченьке !

         F#9  H7      Em   Em/G
     Я знаю  -  дача будет !
         Am7  D7       G
     Я знаю  -  саду цвесть !
         Am    H7   C
     Способны наши люди
          Am7      F#7     H7
     Не спать, не пить, не есть,
         Am7     H7      Em   Em/G
     Таскать кирпич под мышкой,
          Am7   D7      G
     Век путаться в долгах,
            Am6      H7   C
     Чтоб свить гнездо детишкам
        F#7  H7     Em
     У черта  на рогах.

Долбая по пальцам торопимся мы
Хозяйство Евгений Иванычево
Навесом укрыть (ибо мало ли чего !),
Чтоб больше Евгений Иванычу
Не оборачивать пленкою на ночь его.

</PRE></div>
</body>
</html>