<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> КОТОРЫЙ ЧАС </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Который час, скажите откровенно...

       Am      Am/C       H7    E7
Который час, скажите откровенно, -
       Am     Am/C       H7  E7
И вы решите сто моих проблем :
        Am      Am/C            H7   E7
Скажете семь - и я проснусь мгновенно,
         Am              A7
Скажите два - и я пойду поем.

                  Dm  E7           Am     Am/G    F
Припев: Ах какая благодать - самому часов не наблюдать,
                     Am    Am/C H7 E7      Am
       Пусть даже с риском          исхудать.

Который час, ответьте не скрывая,
И, если вдруг любви пришла пора, -
Я все одежды тут же посрываю
И буду ваш до самого утра.

Припев: Ах какая благодать - самому часов не наблюдать,
       Пусть даже с риском опоздать.

Который час, скорей мне сообщите,
Я на защиту встану, как один,
И, может быть, погибну при защите,
Ведь час последний не исповедим.

Припев: Ах какая благодать - самому часов не наблюдать
       Пусть даже с риском пострадать.

Ну что же вы молчите, право слово,
Ведь ради вас и только ради вас
Я тут столбом стою на все готовый,
Вы намекните лишь, который час.

Припев: Ах какая благодать - самому часов не наблюдать
       Пусть даже с риском зарыдать, исхудать, пострадать, опоздать...</PRE></div>
</body>
</html>