<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> КОГДА В МОНАСТЫРЕ... </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Соловки

Когда в монастыре развеется туман,
И в море соскользнут таинственные тени,
И жутиков своих отправит по домам
Прозрачный командир полночных привидений,
Тогда по лестнице кривой
Тихонько, чтоб никто не слышал,
Считая палки головой,
Я выберусь сюда на выгнутую крышу.

А здесь такой простор, что сразу все забыть,
А здесь искрится мир в воздушной оболочке,
И мне так хорошо, как только может быть
В отдельно взятый миг в отдельно взятой точке.
И это больше никогда
Со мной не повторится снова,
Здесь слово "Нет" и слово "Да"
Сливаются в одно загадочное слово.

Рассвет уже парит на огненном крыле,
И в море унеслись таинственные тени,
И с завистью глядит из трещины в столе
Прозрачный командир полночных привидений,
Когда у края бытия,
Привстав от счастья на носочки,
Стою отдельно взятый я
В отдельно взятый миг в отдельно взятой точке.
В отдельно взятый миг в отдельно взятой точке.</PRE></div>
</body>
</html>