<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> КОРАБЛЕВ И САНЯ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Эй, капитан, чего раскис? 
Что за беда, откройся. 
Ну, не молчи, ну поделись, 
Давай, скажи, не бойся. 
Да ты, похоже, не умеешь, :о( 
Прости, моряк, беги домой. 
Постой, но слух-то ты имеешь? 
И всё, что слышишь, разумеешь? 
Так ты лентяй, а не немой! 

А как же ты своих матросов 
Пред бурей сможешь ободрить? 
Не плачь, моряк, я знаю способ, 
Простой, но очень верный способ 
Научиться говорить. 

Запомнить нужно пару фраз 
И повторить сто тысяч раз. 
И если только повторишь - 
Наверняка заговоришь. 
Послушай: 

Буря мглою небо кроет, 
Вихри снежные крутя, 
То, как зверь, она завоет, 
То заплачет, как дитя. 
</PRE></div>
</body>
</html>