<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> КОГДА-НИБУДЬ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Когда-нибудь исчезнет слякоть...

1. Когда-нибудь исчезнет слякоть,
  И прекратит скрипеть кровать,
  И будут утки меньше крякать,
  А больше петь и танцевать.
  Когда-нибудь починят краны,
  И из воды исчезнет муть,
  Добрее станут хулиганы
  Когда-нибудь, когда-нибудь.
  Когда-нибудь, когда-нибудь, когда-нибудь,
  Хотя б одним глазком взглянуть   
  На этот мир когда-нибудь.

2. Солдат отпустят командиры
  Смотреть хорошее кино,
  А во дворах пройдут турниры
  По городкам и домино.
  И просветлеют наши взгляды
  Утихнут склоки в пять минут.
  А если кто-то будет гадом - 
  Его простят, но не поймут.
  Когда-нибудь, когда-нибудь, когда-нибудь
  Нас приведет нелегкий путь
  Куда-нибудь, когда-нибудь.   
  Когда-нибудь, когда-нибудь, когда-нибудь
  Удастся все перевернуть
  Когда-нибудь, когда-нибудь.
  Когда-нибудь, когда-нибудь, когда-нибудь
  Хотя б одним глазком взглянуть   
  На этот мир когда-нибудь.</PRE></div>
</body>
</html>