<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> КРЫЛО МОЕ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Как хорошо пять раз перевернуться 
И на опасном вираже 
Благополучно в землю не воткнуться, 
Хотя, казалось бы - уже. 

Пилоту в небе - море по колено, 
Не удержать его ничем. 
Готов летать пилот в четыре смены, 
Хотя, казалось бы, зачем? 

Я в чисто поле выйду поутру лениво, 
Крутну винтом, вильну хвостом, 
И заволнуется встревоженная нива 
Под ветерком. 

Взревёт машина прочихавшимся мотором, 
Уйдёт земля из-под неё, 
И обопрётся о небесные просторы 
Крыло моё-о! Крыло моё-о! 

Пилот живет подобно вольной птице, 
Всегда не там, где жил вчера. 
Он не спешит семьей обзаводиться, 
Хотя казалось бы - пора! 

И при нехватке денежных ресурсов 
Не растеряется пилот - 
Он не собьётся с правильного курса, 
Хотя, казалось бы, вот-вот! 

Я в чисто поле выйду поутру лениво, 
Крутну винтом, вильну хвостом, 
И заволнуется встревоженная нива 
Ну, а потом, ну, а потом, 
Ну, а потом, ну, а потом - 

Взовьются галки, очумевшие со страху, 
И разлетится вороньё 
И всю планету поразит своим размахом 
Крыло моё. Крыло моё! 
Крыло моё... 
А под крылом - моя земля, 
А под землей - руда, 
А из руды моя страна даёт металл, 
Чтоб в самолете я летал. 
...даёт металл... 
Вокруг леса, вокруг поля, 
Моя земля, моя краса, мое жильё, 
А над землей - могучее крыло моё! 

Крыло моё! 
</PRE></div>
</body>
</html>