<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ЛЬГОТНЫЙ БИЛЕТ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Льготный билет


D                         E(IV)/D
Нет, мы не плачем, мы не плачем, -
G        D        C   A7
Нам ли жалеть о былом.
D              E(IV)/D
Наши потери и удачи
 G       B        D
Стянуты прочным узлом.

  Em       F#7
Льготный билет
      Em        F#7
В плацкартный вагон,
  Hm Hm/A  G
Льготный талон
E7(IV)              A7  A13-
На несъедобный обед.

D                      E
Запах чернил и книжной пыли,
G          B    Em         Gm
Вечер в кредит, ночь про запас,
Em           F#7     Hm Hm/A  G
А где-то пели, люби   -   ли,
 Em        A7         D
Где-то обходились без нас...

Сквозь болтовню, сквозь трали-вали
Мы, как слепые, брели.
Нежность за робостью скрывали,
Робости скрыть не могли.

Но каждый миг
Взорваться вдруг мог.
Каждый намек
Вел напролом, напрямик !

Как же стенали и трубили
Краешки губ, донышки глаз,
А где-то пели, любили,
Где-то обходились без нас !

D | G | Gm | D | B | Em | A | D

Нет, мы не плачем, мы не плачем, -
Нам ли жалеть о былом.
Если бы жизнь текла иначе,
Нас бы судьбой не свело.

Льготный билет
В плацкартный вагон,
Льготный талон
На несъедобный обед...

Путая небыли и были,
Верили мы в несколько фраз,
А где-то пели, любили,
Где-то обходились без нас...</PRE></div>
</body>
</html>