<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МАШИНА МАРКИ 'ФОРДА' </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Машины марки Форда

               Алексей Иващенко,
               Георгий Васильев

В Москве открылася шикарная контора.
Коль вы серьезный бизнесмен,
   но без мотора -
Здесь есть машины "Форд", "Эскорт",
  "Фиеста", "Сьерра",
Любого цвета, класса, формы и размера.

Весь мир поет и шумно радуются дети,
Когда ты мчишься в столь шикарном драндулете.
Мы продадим для вас машины марки "Форда",
Чтоб вы на них вокруг Кремля рулили гордо.

Весь мир поет и шумно радуются дети,
Когда ты мчишься в столь шикарном драндулете.
Мы продадим для вас машины марки "Форда",
Чтоб подовольнее у вас была бы морда.

Когда ты мчишься,
     в нем ревут в машие кони,
И даже мой дружок -
     маркер известный, Моня,
Побочный сын мадам Олешкер тети Еси
По бабам в "Форде" ездит,
      а не в "Мерседесе".</PRE></div>
</body>
</html>