<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МГЛА АНТРОЦИТОВАЯ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Эта мгла, словно пыль антрацитовая, 
Нас окутала чёрным крылом, 
Всю страну, словно губку пропитывая, 
Перепутывая наши судьбы узлом. 
Мы историю, не перечитывая, 
Отправляем сегодня на слом. 

Рушится мир на куски, 
А в это время сжавшись в комок от тоски, 
Маленький мальчик бормочет четыре строки. 

Бормочи, не стесняйся, ты всех удивишь, 
Если будешь настойчив и смел. 
Ты уже победил - 
Ты уже говоришь! 
Навсегда позабудь, 
Как пред ложью немел! 
Жаль вот только, что правдой своею, малыш, 
Жизнь отцу ты спасти не успел. 

Где-то в далеком краю 
Ты, может быть, отыщешь тепло и уют... 
Стой! Не забудь злополучную сумку свою! 


Буря мглою небо кроет, 
Вихри снежные крутя, 
То, как зверь, она завоет, 
То заплачет, как дитя. 

Всю страну, словно губку, пропитывая, 
Разъедая основы всего, 
Эта мгла, словно пыль антрацитовая, 
Оставляет тебя против всех одного. 
Выживай, на других не рассчитывая, 
У тебя больше нет никого! 
</PRE></div>
</body>
</html>