<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МЕРСЕДЕТЫЙ ШЕСТИСОС </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Мерседетый шестисос

                Алексей Иващенко

C7 H7 Em
C7 H7 Em
C7 H7 Em
A7 H7 Em

      Em                        C         H7
Мы пойдём с тобой сегодня не на Ленинские Горы,
      Em                     Dm  E7     Am
Не на выставку поделок из некрашеных корней,
 Am                H7           C    H7       E E7
Мы пойдём и купим крышку бесконтактного трамблёра,
    Am             Em              F#   H7     Em  H7
Потому что, сто процентов, что всё дело было в ней.


Я капот у нашей "Дуси" осторожно приоткрою
И стартёром постартую, и подсосом подсосу,
И на правильное место крышку винтиком пристрою,
И проделаю контрольный "тюк" ногой по колесу.

А на утро в воскресенье ты увидишь, что напрасно
Выражала в адрес "Дуси" ты сомнения свои.
И откроется пред нами мир огромный и прекрасный,
Совершенно безопасный до ближайшего ГАИ.

Мы поедем, мы помчимся с жестяным, неровным стуком,
Ты щекой к плечу прижмёшься и прошепчешь мне маршрут,
И блондинка у дороги, загрустив, опустит руку,
Справедливо догадавшить, что её не подберут.

Не пытайтесь в понедельник нас спросить неосторожно,
Где мы были в воскресенье и зачем в машине трос.
И покроет нашу тайну наш надёжный безнадёжный,
Восьмилетний, "жигулёвский", мерседетый шестисос.

Где мы были - вам не скажут ни резина, ни приборы,
Да и мы вам не покажем, что мы делали вчера.
Для того и существуют бесконтактные трамблёры,
Чтоб никто не догадался, между чем и чем искра.</PRE></div>
</body>
</html>