<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МЕТРОПОЛИТЕН </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Метрополитен


                    Алексей Иващенко

G G F# F# F F E E   A7     D7 G

     G                      F#7
Я в метрополитен пустой проникну легко.
       G                     E7
И ноль часов часы пробьют, и новый виток начнет Земля
Am         Cm           G              E7
И фотоэлемент меня узнает и пропустит без пятаков -
A7                       D#7         D7
Я слишком часто здесь бываю после нуля...

И милиционер хитрец не тронет меня,
Ведь я не хулиган не пьян, я скромно шагаю по прямой
А то, что я пою немного громко, это тоже можно понять -
A7              D#7    D7       G
Я возвращаюсь слишком поздно домой.

   H7     Em                       A79
 Вновь вагон завоет как тромбон - то ли на пересадку манит,
                    D7
 То ли просто тихо зевает, перед тем как спать уйти...
   G                      H7
 Прямо перед депо меня оставит и пропадет в тоннеле
  Em                       A79
 Дядя в кепочке с гербом мне почему то хитро глянет вслед,
                  D7
 Как будто все понимает, и замрет на полпути
D#7                D7
      старый эскалатор, устав...

Я выйду из дверей метро, и выключат свет.
Автобус подберет меня, в последний ночной маршрут спеша,
И словно таракан по темной кухне по ночной усталой Москве
На четырех колесах проползу я шурша...

И свой знакомый ключ найду в углу потайном...
Замок тепло руки узнав, откроется мягко, без щелчка
На цыпочках пройду по коридору, и простит меня старый дом
За то, что задержался сегодня слегка...

У-у...

И снова полон день забот, а вечер забав.
Но как бы не звала меня моя бестолковая звезда,
Как глупый электрон с любой орбиты, всю энергию растеряв
Я неизменно возвращаюсь только сюда...

Я верю, что мой ключ лежит в углу потайном...
Я знаю, по шагам меня, замок распознает без труда.
Но каждый раз в метро, в пустом вагоне, я мечтаю лишь об одном:
Ах, только б в этот раз мне не опоздать...</PRE></div>
</body>
</html>