<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МИЛЛИОНЕРЫ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Сбылась мечта - я стал миллионером, 
Владею я несметным количеством нулей. 
Солидный вид, приличные манеры - 
Иду гулять по скверу, 
Искать случайных прибылей! 
Ай-яй! Купи - продай! 

Кого бы осчастливить миллионом? 
Купить коробку спичек иль пару папирос? 
А может, взять флакон одеколону? 
Мадам, прошу пардону - 
Возьмите взад ваш купорос! 
Ай-яй! Купи - продай! 

Да, я миллионер, 
и ты миллионер, 
и он миллионер - 
Мы все - миллионеры, 
Пока товарищ милиционер 
Нас не погонит вдоль по скверу! 
Пока товарищ милиционер 
Нас не погонит вдоль по скверу! 

Зачем подушка, если нет кровати? 
И если нет рубашки - на кой мне кружева? 
А может, нам на бублик денег хватит? 
Ну, это как покатит - 
Быть может, хватит и на два! 
Ай-яй! Купи - продай! 

Да здравствует страна миллионеров, 
Где временные беды переживаем мы! 
Дай бог нам до начала новой эры 
Не сдохнуть от холеры 
Иль от какой другой чумы! 
Ой-ёй! Да боже ж мой! 

Да, я миллионер, 
И ты миллионер, 
И он миллионер, 
Мы все - миллионеры, 
Пока товарищ милиционер 
Нас не погонит вдоль по скверу! 
Пока товарищ милиционер 
Нас не погонит вдоль.. 
Нас не погонит вдоль.. 
Нас не погонит вдоль по скверу! 
</PRE></div>
</body>
</html>