<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МНЕ НИЧЕГО НЕ ЖАЛЬ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Я выберу немного

                Музыка и слова А.Иващенко

Когда придет мне время собираться налегке
В далекий долгий путь, в нелегкую дорогу,
Из кучи барахла с собой я выберу немного,-
Чтоб только умещалось в кулаке.

Я захвачу с собой из всех земных своих даров
Глоток речной воды да камень с горной кручи,
Полпачки сигарет и три рубля на всякий случай,-
Кто знает, говорят, что путь суров.

Я не возьму воспоминаний, тяжких как гранит,-
Лишь несколько имен, чтоб не рассстаться с ними,
И главный талисман - одно-единственное имя,
Пускай оно и там меня хранит.

И чтобы не тащить ввесь тяжкий труд далеких лет,
Я выберу себе из груды многотонной
Какой-нибудь пустяк, ну, скажем, номер телефона.
На память, просто так. Там связи нет.

Когда придет мне срок, и я замру у рубежа,
Что делит бытие на жизнь и на иное,
Сокровища свои зажму в кулак, а остальное
Пускай гниет - мне ничего не жаль.

1989</PRE></div>
</body>
</html>