<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МОЙ МИЛЫЙ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Мой милый


Hm                      
Мой пух на розовых щеках
                          G
Мне представлялся столь солидным,
                C#7 
Его впервые безобидно
  Em               F#7
Касалась женская рука,
Hm                       
Когда впервые как в бреду
                      Em
Та фраза в воздухе застыла,
                         C    C F F#7
Мой милый, жди меня, мой милый,
                    Hm
И я приду, приду, приду.
    Em                   C    C F F#7
Мой милый, жди меня, мой милый,
                    Hm
И я приду, приду, приду.

Так был когда-то в первый раз
В графе разлук поставлен крестик.
Мой пух грубел со мною вместе,
А эта пара глупых фраз,
Как карусель кругов в аду
С тех пор мне голову кружила,
Мой милый, жди меня, мой милый,
И я приду, приду, приду.
Мой милый, жди меня, мой милый,
И я приду, приду, приду.

Себя молитвой и постом
Смирив в процессе ожидания,
Я ждал крестов в графе свиданий,
Но надо мной висит крестом,
Как ключ потеряный в пруду,
Как недорытая могила
Мой милый, жди меня, мой милый,
И я приду, приду, приду.
Мой милый, жди меня, мой милый,
И я приду, приду, приду.

Ужель я грешен тем, что сам
Постиг чуть горький запах мщенья
И все свои невозвращенья
По той же схеме подписал.
Ведь жизнь, как жалкий какаду,
Одно и тоже затвердила,
Мой милый, жди меня, мой милый,
И я приду, приду, приду.
Мой милый, жди меня, мой милый,
И я приду, приду, приду.
Мой милый, жди меня, мой милый...</PRE></div>
</body>
</html>