<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МОИ СОМНЕНЬЯ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Мои сомненья.

1. Совсем, совсем ненасовсем,
  Совсем, совсем ненавсегда,
  Ненавсегда мое всегда,
  Твое - навеки.
  Незнамо где невесть когда
  Подстерегает нас беда
  И в этой жизни все, увы, 
  Не как в аптеке.
  Не избежать грядущих бурь
  И лишь на собственную дурь
  Пенять придется мне,
  Досадуя и каясь.
  И я извилины скребу 
  На расширяющемся лбу
  И сомневаюсь, сомневаюсь, сомневаюсь.

Припев: Мои сомненья рваной тенью
       Бегут по небу, по песку и по траве,
       Но разгоняет их весенний,
       Могучий ветер в голове.

2. Ведь я же знаю наперед,
  Все, что потом произойдет,
  Уж надвигаются с Атлантики циклоны,
  И первый камешек вот-вот
  Вниз ненароком упадет,
  И с диким грохотом обвал пойдет по склонам.
  А после бурь и после гроз
  Лишь только клок седых волос
  Мне будут скромной и единственной наградой.
  И вот почесывая нос,
  Я задаю себе вопрос:
  А для чего мне, дураку, все это надо.

Припев: Мои сомненья рваной тенью
       Бегут по небу, по песку и по траве,
       Но разгоняет их весенний,
       Могучий ветер в голове.

3. Совсем, совсем ненасовсем,
  Совсем, совсем ненавсегда,
  Ненавсегда мое всегда,
  Твое - навеки.
  Ведь время режет провода
  И разрушает города,
  Дробит гранит и разворачивает реки.
  Но котаклизмы не страшны,
  Покуда держатся штаны,
  Пока владеют мной безумные затеи.
  И чтоб сомнения изгнать
  Я прежде чем ложиться спать
  Пью чай с малиной и отчаянно потею.

Припев: Мои сомненья рваной тенью
       Бегут по небу, по песку и по траве,
       Но разгоняет их весенний,
       Могучий ветер в голове.
       Оставь сомненья,
       Ешь варенье,
       На завтрак ложку,
       На ночь банку или две.
       Пусть не менят направленья
       Весенний в голове (3 раза).</PRE></div>
</body>
</html>