<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МУЗЫКА </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Абсолютный слух

Абсолютно верен абсолютный слух,
Он судья, он и чуток, и глух.
Для него все звуки строго говорят :
- Это - "до", это - "ми", это - "ля".

        Но как мешает столь счастливый дар
        Не слышать фальшь, считать всерьез курьезом ложь.
        Перед нами ноты вместо милых чар,
        Вместо фей, вместо снов, вместо грез.

Абсолютно верен абсолютный слух,
Он судья, он и чуток, и глух.
В самом деле, люди строго говорят :
- Это - ты, это - он, это - я.

        Но как мешает столь счастливый дар
        Не слышать жизни фальшь, считать курьезом ложь.
        Перед нами лица вместо милых чар,
        Вместо фей, вместо снов, вместо грез.
        Но живые лица вместо милых чар,
        Вместо фей, вместо снов, вместо грез.</PRE></div>
</body>
</html>