<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МЫ УВИДЕТЬ ДОЛЖНЫ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Мы услышать должны

За густой пеленой наших будничных дел,
За больной маетой наших душ, наших тел,
Сквозь унылые тени обид и забот,
Сквозь тугое сплетенье житейских невзгод,
За уродливым миром пустой суеты,
За угрюмым и сирым лицом нищеты
Мы увидеть должны, как прекрасна земля,
Как березы нежны и легки тополя.
Мы увидеть, мы увидеть должны, как прекрасна земля,
Как березы нежны и легки тополя.

Сердце друга, сердце верного друга увидеть должны,
Зелень летнего луга и трепет весны.
Сквозь ворчанье и зов, и рыданье, и брань,
И сквозь визг тормозов в предрассветную рань,
За пронзительным плачем пожарных сирен,
За концертом кошачьим супружеских сцен,
И за воплем орущих в саду малышей,
За истерикой ждущих войны торгашей,
Мы услышать должны шепот сонной травы,
Красоту тишины, птицу в гуще листвы.

Мы услышать, мы услышать должны шепот сонной травы,
Красоту тишины, птицу в гуще листвы,
Ту птицу, что во мраке лесном,
Чутко дремлет, успев сочинить перед сном
Колыбельный напев...
Мы услышать должны...
Мы услышать должны...
Мы услышать должны...</PRE></div>
</body>
</html>