<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> МЫ ЖЖЕМ СЕРДЦА ОХОТОЙ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Мы жжем сердца охотой...

                        А.Иващенко

Мы жжем сердца охотой,
Но победы нам горьки,
Когда убье оленя гордый рыцарь.
Ведь что-то, как Жар-птица,
Ускользает из руки,
И не дает победой насладиться.

Мы жжем умы наукой -
Почему ж плоды трудов
Нам не приносят удовлетворенья ?
Ведь что-то, как Жар-птица,
Из руки зажатой вновь,
Исчезнет, промелькнув по лицам тенью.

Мы души жжем любовью,
Мы идем в руке рука.
Амур в почете, мудрецы в загоне!
Но ты найдешь в любви
Лишь только то, что  ты искал,
А остальное не сдержать в ладонях...
Мы верим, что сумеем все же это уловить.
Поймать за хвост,
В ладонях стиснуть с хрустом
Ведь вовсе не бесплодны
Все усилия любви...
Так почему ж в ладонях снова пусто?</PRE></div>
</body>
</html>