<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> НА КИЕВСКОМ ВОКЗАЛЕ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>На Киевском вокзале

На Киевском  вокзале все едут, кто отсюда, кто туда,
А он в перроном зале стоит и провожает поезда.
А рядом пассажиры сердито ищут временный  приют,
И, наливаясь жиром, довольные носильщики снуют.
Ах, как же все кричали, и от оваций паровоз дрожал,

Когда его встречали, когда он на Финляндский приезжал.
Но радость исчезала, накатывались волнами года,
И сам на всех вокзалах теперь он провожает поезда.

Все тронулось куда-то, поехала тихонько вся страна,
Ах, вождь пролетерьята, мы движемся в иные времена,
Простимся напоследок, пора уж провожающим отстать,
В края, куда все едут, мне будет вас немножко не хватать.</PRE></div>
</body>
</html>