<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> НАТУРАЛЬНЫЙ КИСЛОРОД </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Натуральный кислород.

       1. Натуральный кислород - это просто объеденье,
          С ним так хочется любить, им так хочется дышать.
          Можно тратить кислород и дарить на День Рожденье,
          И в бутылочке хранить, если грамотно сжижать.
          Натуральный кислород он вкусней всего на свете,
          Он полезней, чем кефир и полезнее конфет,
          Натуральный кислород нужен всем, кто на диете,
          В нем полстолечко жиров, а калорий вовсе нет.

       Припев: Приэльбрустские высоты, вологодские луга,
               Новгородские болота и сибирская тайга,
               В тех местах и в многих прочих каждый день и круглый год
               Выдается всем, кто хочет первоклассный кислород.

       2. Натуральный кислород нам не зря дала природа,
          Это фирменный продукт, а не грубый суррогат,
          Натуральный кислород состоит из кислорода,
          Кто не верит, тем Минздрав выдает сертификат.
          Выдает сертификат, что они больны душевно
          И рассматривают жизнь как-то задом на перед,
          Что в таком вот как у них состоянии плачевном,
          Нужен свежий кислород, ну почти как кислород.

       Привет: Гималайские высоты, уссурийская тайга,
               Амазонские болота и альпийские луга.
               В тех местах и в многих прочих каждый день и круглый год
               Выдается всем, кто хочет первоклассный кислород.

       3. Покупайте кислород и не думайте превратно,
          Этот бизнес никому не приносит барышей.
          Покупайте кислород совершенно за бесплатно,
          За красивые глаза и улыбку до ушей.
          Покупайте кислород совершенно за бесплатно,
          За красивые глаза и улыбку до ушей,
          Хоть завязочки пришей.

       Привет: Поднебесные высоты, непролазная тайга,
               Крокодильские болота, васильковые луга,
               В тех местах и в многих прочих через нос и через рот
               Подается всем, кто хочет первоклассный кислород.</PRE></div>
</body>
</html>