<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> НАЙДЕТЕ ВЫ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Эй, вставайте !

                    Стихи Ж.Бреля

Найдете вы следы в траве еще сырой...
Найдете вы его на дне пустом стакана...
Средь звездной тесноты полуночи румяной
Найдете вы слова, что позабыты мной...
Найдете вы огромный путаный клубок
Несбывшихся надежд, мечтаний бесполезных,
Предсмертных ужасов разверзнутую бездну,
Желанья тех, кто ничего хотеть не мог...
Найдете вы призыв, и ярость, и клинок.

Вставайте, хватит спать : опасность у ворот;
Она в немой тоске скривила бледный рот.
Эй, вставайте, лестница готова у стены.
И лег на латы блик истаявшей луны
Вставайте, в этот час державною тропою
Медлительные львы проходят к водопою.
Вставайте, час настал, пора надеть кольчугу,
Петух уже давно пропел на всю округу.

        - Эй, вставай !
        - Вставай !
        - Вставай !
        - Вставайте !
        - Эй, вставай !
        - Вставай !
        - Вставай !
        - Вставайте !

- Эй, вставайте ! - задрожал от нетерпенья стол,
В надежде вздрогнул шкаф, и содрогнулся пол.
- Эй, вставайте ! - голосом ночных радиограмм,
Синьор, я вас бужу в тревоге по утрам.
Вставайте, в очаге бушует пламя пищи.
Голодный пес внизу по закоулкам рыщет.
Вставайте, пробил час, не спите, ради Бога.
Положен кем-то меч у вашего порога.

        - Эй, вставайте !
        - Вставай !
        - Вставайте !
        - Эй, вставай !
        - Вставай !
        - Вставай !
        - Вставайте !
        - Эй, вставай !
        - Вставай !
        - Вставай !
        - Вставайте !

Вставайте, смерть в петле. Зловещий стук копыт
Газетною срокой по улицам летит.
Вставайте, спать нельзя, восток огнем объят.
Вставайте, мой синьор, иначе вас съедят.

        - Эй, вставай !
        - Вставай !
        - Вставай !
        - Вставайте !
        - Эй вставайте !!!</PRE></div>
</body>
</html>