<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> НЕПУТЕВКА </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Сказание о новых временах в селе Непутевка

  Am9       Dm9
Летают мухи низко -
        Am9
Ответственный момент:
         Dm9
По всей земле российской
E7(VI) Am9
Идет экспери - мент.

A | E5+ | A | E5+

    A         D        A
Непутевка в парадном убранстве,
   F#      F#7       Hm
Из уезда приехал в село
    Dm6         Dm6/C     Am      Am/C
Капитан - предводитель дворянства -
   E         E7         Am
И урядник с клинком наголо.

     A      D      A
Донести повеление свыше
     F#        F#7       Hm
До селян предводитель спешит:
 Dm6                    Dm6/C  Am    Am/C
- Старый барин, - говорит, - на пенсию вышел,
E      E7       Am
Выбрать нового вам надлежит !

G7     C
     - Царь велел, - говорит урядник, -
                      G7/9+
     Чтоб народ выбирал господ,

     И я всех, - говорит, - запру в курятник,
               C   E7
     Кто указ не признает !

Местный писарь прослыл скандалистом:
- Тут сомнение, - говорит, - вышло меж нас !
Не уступка ли социалистам
Этот мудрый царевый указ ?

Но уверенность в души вселяя,
Предводитель ответ дал простой:
- Демократия, - говорит, - лишь укрепляет
Наш родной крепостнический строй.

     - Слышь ты, писарь, - говорит урядник, -
     Ты сомненья эти брось.
     А не то, - говорит, - запру в курятник,
     Чтоб с народом был поврозь

А народ разошелся - куда там !
- Мы готовы ! Давно бы пора !
Мол, давай, выдвигай кандидатов,
И царю-государю ура !

А простая старушка Анисья
Из-под носа слезинку смела:
- Юрьев день, - говорит, - дождалися,
Неужели же я дожила !

     - Эй ты, бабка, - говорит урядник, -
     Ты язык-то прикуси,
     А не то, - говорит, - запру в курятник,
     Как ведется на Руси.

- Вот, - сказал предводитель дворянства,
За портретиком слазив в карман, -
- Граф Цимлянский, борец против пьянства,
Кандидат от российских дворян.

- Стойте, стойте, - вдруг писарь заахал, -
Здесь же кворума нет, ой-ой-ой !
А без него не избрать даже графа,
Хоть дворянство и наш рулевой.

     - Ты дупло, - говорит урядник, -
     Что мне кворум, - говорит, - твой ? Ерунда !
     Я запру, - говорит, - его в курятник
     Ежли сыщется когда.

Вышла Фроська в богатом наряде:
- Мой мужи был бы барин, - говорит, - во !
Мы с семьею даем на подряде
Пять оброков взамен одного.

- Так уж лучше меня, - крикнул Степка, -
А не Фроськиного пентюха !
Я налью православным по стопке,
А масонам пущу петуха.

     - Я вам кто ?, - прохрипел урядник, -
     Я вам полицейский чин !
     Щас запру, - говорит, - вас всех в курятник
     Без дознательства причин.

Кто-то гикнул, рванули рубаху,
Кандидатов сыскалось штук семь.
Но сперва дисциплиною пахло,
А потом перестало совсем.

Выдвигали, как в пьяном угаре,
Аж ворота сорвали с петель.
Кто-то крикнул: - А хрен ли нам барин -
      E7        G7     C
Дайте волю - устроим артель !

 А по деревне ходит парень,
 Вся рубаха в петухах.
 Видно, парень очень смелый,
 Не боится ничего.

Писарь крикнул: - Свободу печати !
Но народ его не поддержал,
Потому как глаголей да ятей,
Всех крючков этих не уважал.

Но зато как услышал про волю,
Да с землицей, да чтоб при коне,
То уж тут началося такое,
Что аж мухи прижались к стерне.

     - Вы, хамье, умойте хари !, -
     Предводитель зарычал, -
     - Отпишу, - говорит, - государю
     Эксперименты чтоб кончал !

Но стихию пойди обуздай-ка,
Заработав огромный фингал,
Только к ночи посредством нагайки
Всех в курятник урядник загнал.

А безвинной старушке Анисье
В толчее повалили плетень.
Вот те, бабушка, и дождалися,
Вот те, бабушка, и Юрьев день !

     То березка, то рябина
     Куст ракиты над рекой
     Край родной на век любимый
     G7/9+      C   E7
     Где найдешь еще такой
   Am9                              Dm9
     Непутевка, Непутевка, ты родная сторона
                Am9            E7(VI)       Am9 E7 Am9
     И никто нас не исправит - только мать сыра земля !

</PRE></div>
</body>
</html>