<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> НЕ ДОГОВАРИВАЯ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Не договаривая фразы

                       Муз. Г.Васильев  Сл.  Г.Чмерева

Em         Em/G     C7+  H7
  Не договаривая фразы,
Em             Em/G       Hm5-/7    E7
  Вдруг благодарно замолчать.
        Am7         Cm7
  Быть понятым друзьями сразу,
G              Hm7           E7
  В глазах сочувствие встречать
          Am7        C
  И благодарно замолчать,
Cm7                 G
  Не договаривая фразы.

  Судом друзей не будет встречен
  Наш самый безрассудный шаг.
  С чужими часто все не так -
  Закон непониманья вечен,
  Но даже наш неверный шаг
  Судом друзей не будет встречен.

  G | C | G | Cm7 | G | C | G

  Мы об одном всю жизнь мечтали -
  Быть понятым и понимать,
  Мучительно в других врастая,
  Снять отчуждения печать,
  Чтоб благодарно замолчать,
Cm7                        G   E7
  В глазах друзей себя читая,
           Am7       C
  На полуслове замолчать,
Cm7                        G    E7
  В глазах друзей себя читая,
              Am7        C   Cm7 | G
  Вдруг благодарно замолчать.

</PRE></div>
</body>
</html>