<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> НЕПУТЕВЫЙ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Непутёвый

                        Алексей Иващенко

В этот мелкий серый дождик, в эту мерзкую погоду
Очень хочется забраться на какой-нибудь чердак
И лежать, смотреть в окошко на струящуюся воду,
И мечтать, как было б славно, если б было всё не так.

И своей нелепой жизни сочиняя оправданья,
Поливать себя презреньем, но не очень, а любя,
Размышлять по ходу дела о проблемах мирозданья
И жалеть по всей программе непутёвого себя.

        Непутёвого себя, бестолкового,
        Не способного включить автостоп
        И, как опыт показал, не готового
        К вероломству этих женских особ.

Но к концу подходит время, отведённое на слёзы,
И несчастные любови исчезают, словно дым.
Просто завтра будет солнце, и уйдут на запад грозы
И я вновь, как конь фанерный поскачу "тыг-дым, тыг-дым".

Так что если есть потребность утопиться, удушиться - 
Этот серый мелкий дождик - просто божья благодать,
Ведь в хорошую погоду на такое не решиться
И уж вовсе невозможно полноценно оправдать

        Непутёвого себя, бестолкового,
        Не способного включить автостоп
        И, как опыт показал, не готового
        К вероломству этих женских особ.

        Непутёвого себя, бестолкового,
        Вечно полного бредовых идей
        И, как опыт показал, не готового
        К легкомысленности женских людей.</PRE></div>
</body>
</html>