<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> НЕНЦЫ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Море молчит, как рыба, покуда ветер не переменится, 
Море - страшнее зверя, когда на море идет волна. 
Море всю зиму ленится, 
Море все лето пенится, 
Море - оно большое, оно без края, оно без дна. 

Ветер такой холодный, что нос подставишь - не поздоровится! 
Нерпа ушла под воду - однако, близко большой медведь. 
Небо темней становится, 
Рыбка не шибко ловится, 
Скачет песец по скалам, 
А это значит - запахло салом, 
А, значит, хватит пасти оленя, 
А, значит, хватит стрелять тюленя, 
А, значит, хватит искать коренья, 
Пора покушать, сплясать и спеть. 

- Однако, что это там плывёт? 
- Однако, я ничего не вижу! 
- Большая лодка с большой трубой 
И чёрным крестиком на боку. 
- А вон, глядите-ка, самолёт 
На крыльях звезды, на брюхе лыжи, 
Они воюют промеж собой. 
Ох, распугают нам всю треску! 

Из парохода стреляет пушка - 
Сейчас собьет самолёт! - Да ну?! 
Вон пароход уже весь в дыму - 
Должно быть, скоро пойдёт ко дну. 

Ох, тонет, смотрите, тонет! 
Он посередке переломился. 
- Гляньте, а самолётик - 
Он на излёте, он задымился. 
Он до земли-то и не дотянет. 
- Авось, дотянет! - Да он подбитый! 
- Небось, дотянет! - Да не дотянет! 
- Как не дотянет? - Да погляди ты! 
Летит сюда! 
Аааааааа! Оооооооо! Уууууууу! 
</PRE></div>
</body>
</html>