<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> НОВЫЙ ГОД </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Вот ведь какая погода! 
Вот ведь опять, как всегда, 
К празднику Нового года - холода! 
Вновь мороз, будто наркоз, 
Обезболил нам нос! 
Видимо, это надолго и всерьёз! 
Чхи! 

Те-те-те-те-тем, кто учен, 
Мо-мо-мо-мороз нипочем, 
По-по-потому что нас валенки греют! 
По-по-потому что ногой 
То-то-то одной, то другой 
Мы-мы-мы усердно топочем об лёд! 

По-по-потому, что знаком 
Нам всеобщий закон: 
На-на-на морозе с друзьями теплее. 
По-по-потому что созвал 
Нас гулять карнавал, 
Потому что грядёт Новый Год! 

(Катя) - Я скоро стану льдиной. 
(Саня) - Ух, здорово терзает! 
(Катя) - Такая холодина, 
Что зубы замерзают. 
(Валя) - А я вас уверяю: 
Земля меняет климат, 
И с каждым годом зимы 
Теплее чуток. 

(Ромашка)- Щас Валька наколдует - 
И сразу станет сыро! 
(Катя)- Я вам рекомендую 
Мою подругу Киру. 
(Кира)- Земля меняет климат? (Валя)- Да-а... 
(Саня)- Ну, раз такое дело, 
Пока не потеплело - 
Айда на каток! 

Есть одно русское средство 
Дуба не дать в декабре: 
Нужно мороженым греться 
Из-нут-ре. 
Наш народ непобедим 
в минус тридцать один, 
Мы собразим, как согреться 
Среди льдин. 

Те-те-те-те-тем, кто учён, 
Мо-мо-мо-мороз нипочем, 
По-по-потому что нас валенки греют! 
По-по-потому что ногой 
То-то-то одной, то другой 
Мы-мы-мы усердно топочем об лёд! 

По-по-потому, что знаком 
Нам всеобщий закон: 
На-на-на морозе с друзьями теплее. 
По-по-потому что флажки, 
Серпантины, снежки, 
Потому что грядёт Новый Год! 

(Кира) - Земля меняет климат? 
(Валька)- Да, ученые считают, 
Что неостановимо 
Все льды планеты тают. 
(Оба)- Земля весне навстречу 
Несется по орбите 
Вы только посмотрите, 
Как нам повезло! 

(Ромашка)- Ты что-то перепутал, 
И стало холоднее! 
(Катя)- Еще одна минута - 
И я остекленею! 
Я всех вас приглашаю 
К себе на чашку чаю! 
Конфет не обещаю, 
Но будет тепло! 

Тучи опять наползают, 
Белой метелью грозя. 
Там, где вода замерзает, 
Жить нельзя. 
Но, как встарь, мы гудим 
В минус тридцать один, 
И организм остается 
Не-вре-дим! 

Те-те-те-те-тем, кто учён, 
Мо-мо-мо-мороз нипочем, 
По-по-потому что нас валенки греют! 
По-по-потому что ногой 
То-то-то одной, то другой 
Мы-мы-мы усердно топочем об лёд! 

По-по-потому, что знаком 
Нам всеобщий закон: 
На-на-на морозе с друзьями теплее. 
По-по-потому что в крови 
Бродят токи любви, 
Потому что грядёт Новый Год!
</PRE></div>
</body>
</html>