<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> НУ ВОТ И ВСЕ, ДРУЖОК </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Ну, вот и все, дружок


C             Dm     G7              C
Ну, вот и все, дружок, пора открыть кингстоны,
     C          Dm    E7        Am7
К добру не привели проказы на воде.
    F             Fm6       C        A7
Ну сколько можно плыть к безмерно удаленной,
   Fm6                 G7           C
К единственной своей загадочной звезде   (2 раза)


Уже запал не тот, чтоб курс держать упрямо
И, всем ветрам назло, стремиться в никуда.
И очень тяжело быть Васкою да Гамой,
Когда во тьме горит всего одна звезда.   (2 раза)

Не лучше ль скромно лечь на дно среди угрюмых
Глубоководных рыб с отравленным хвостом
Ведь золото лежит на дне в пиратских трюмах,
А по верху плывет бессмысленный планктон.  (2 раза)

Так что ж меня влечет к границам небосклона
О чем терзаюсь я в бреду и наяву
Зачем же я опять к безмерно удаленной,
К единственной своей плыву, плыву, плыву ..  (2 раза)


</PRE></div>
</body>
</html>