<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> НЬЮ ДИССИДЕНТ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Диссидент

                     Алексей Иващенко


G       G5+   С                     F    A7
Я верил в каждый публикуемый процент,
  Dm            Dm/F           G      G7
Духовный мир свой сохранял кристально чистым,
  С             Gm/B       A7
О, я крестился бы при слове "диссидент",
  Dm7        G7       С      G7
Когда бы не был убежденным атеистом.


Но время шло, а паровоз наш не спешил,
А мы все пели, на любовь сердца настроив,
О, я бы сам инакомыслием грешил,
Когда б не веровал в незыблемость устоев.


    C5+     F                 В  D7
Но вот пришла разоблачения пора,
   Gm         Gm/B       С     C7
Коту под хвост былые темпы и проценты,
 F            Cm/D#     D7
О, я кричал бы новым лидерам "Ура !",
  Gm7        C7           F
Когда бы сам не записался в диссиденты.

</PRE></div>
</body>
</html>