<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ОБЛЕПИХА </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Иссык-кульская тоска

                Алексей Иващенко

Облепиховых кустов
Запах чрезвычайной силы
И луну зажёг восток,
А на западе - светило.
Краем тронут холм слегка,
Тонет в озере лениво.
Иссык-кульская тоска
Вновь вцепилась мне в загривок.

        Иссык-Куль воркует тихо,
        Только что-то не в струю.
        Я сажусь под облепиху
        И тихонечко пою.

Над горами облака, 
Словно клочья белой пены.
Иссык-кульская тоска
Жрёт мне глотку постепенно.
Как прекрасен Иссык-Куль
В чистых лунных позументах,
А за эту за тоску
Платят коэффициенты.

        Истина в вине и выход
        В нём же. Тут-то я пью
        И сажусь под облепиху
        И тихонечко пою.

Облепиховых кустов
Запах осточертевает
И грозу несёт восток
Как у нас в начале мая.
Только здесь совсем не так.
Трахнет: "Р-раз!" и в то ж мгновенье
В облепиховых кустах 
Ты найдёшь отдохновенье.

        Я же не хочу так лихо
        Здесь закончить жизнь свою
        И сажусь под облепиху,
        И тихонечко пою.

С облепиховых кустов
Лезут гусеницы тучей
И ногами на восток 
Я ложусь, на всякий случай.
От тоски сойти с ума
Просто: "Р-раз!" - и станешь психом.
Вероятно, в дурдомах
Тоже садят облепиху.

        И опять звенят бутылки
        Как бубенчик ишака,
        И занозою в затылке
        Иссык-кульская тоска.</PRE></div>
</body>
</html>