<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ОЧЕРЕДЬ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Очередь

                    Алексей Иващенко,
                    Георгий Васильев

Четвертый час за женщиной в кремпленовом пальто.
Давным-давно молчания не нарушал никто.
Сама собой угасла мысль узнать, что там дают.
Я вот уже четвертый час стою, стою, стою...

С тобой я слился, очередь, я - червь твоих глубин,
Я - раб очарования колышащихся спин,
Где все равны по сути, но у каждого - свой ранг.
Ты правильная, как бревно, и гибкая, как шланг.

     Люблю я очередь,
     А еще люблю поточную
     Лаконичную отточенность
     Привычных фраз.
     Ах, душка очередь,
     Вожделенья средоточие,
     Ты, прозябших в одиночестве,
     Сплотила нас.

Внезапно возникает хвост - как стресс, как нервный шок.
Вот, например, по городу вдруг проползет слушок,
Что, мол, исчезнет вещь,
    И очередь совьется в тот же день,
И дружно эту вещь раскупят к следующей среде.

Брать все подряд на черный день, на вырост, про запас,
И занимать за купленным опять в который раз.
Возможно, что таким, как я,
    То есть тем, кто здесь стоит,
Своим существованием обязан дефицит.

     Я вижу очередь,-
     И сразу по боку все прочее,
     Что бы ни было там срочное -
     Все подождет.
     Ах, эту очередь
     Да еще занять бы с ночи мне,
     Чтоб стоять сосредоточенно 
     день напролет.

И, снова отоварившись (будь проклят белый свет),
Я занимаю очередь, хоть денег больше нет.
Не в деньгах счастье, я без них так просто постою,
Или продам то, что купил, и еще раз куплю.

Маньяком - да, но все ж меня не назовешь балдой,
Ведь, покупая вещь, я знаю: вещи той
Кому-то не достанется... А значит, тем верней,
Он тоже встанет в очередь, а я пристроюсь к ней.
</PRE></div>
</body>
</html>