<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ПЕРЬЯ ОТ ПАВЛИНА </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Перья от павлина.

1. Это как же, это что же
  Почему оно все время где-то ждет ?
  То мешает, то тревожит
  И на вкус не соль, не перец и не мед.
  То ли в клетку, толи в пятнах
  Не понюхать и на стенку не прибить.
  Совершенно непонятно
  Для чего его вообще употребить.

Припев: Разлюли моя малина,
       Встану рано поутру,
       Вставлю перья от павлина,
       Чтоб гудели на ветру,
       Вставлю перья от павлина
       Елы-палы лес густой,
       А разлюли моя малина,
       Буду парень не простой.

2. С этим что-то делать надо,
  Может спрятать это что-то под кровать,
  Или выдать всем в награду,
  Или срочно молотком отрихтовать.
  Или взять вложить всю душу,
  Раскатать до необъятной ширины,
  Или сузить, или скушать,
  Или вылить ненароком на штаны.

Припев: Разлюли моя малина,
       Встану рано поутру,
       Вставлю перья от павлина,
       Чтоб гудели на ветру,
       Вставлю перья от павлина
       Елы-палы лес густой,
       А разлюли моя малина,
       Буду парень не простой.

3. Ох, не вышло б, только хуже
  От него ведь можно сдачи получить,
  Как укусит, скинет в лужу 
  Или вздумает касторкою лечить.
  Как поймает, напихает,
  Перья выдергает все до одного.
  А без перьев жизнь плохая,
  Так что лучше не касаться до него.

Припев: Разлюли моя малина,
       Встану рано поутру,
       Вставлю перья от павлина,
       Чтоб гудели на ветру,
       Вставлю перья от павлина
       Елы-палы лес густой,
       А разлюли моя малина,
       Буду парень не простой.</PRE></div>
</body>
</html>