<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ПОРТ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Море молчит, как рыба, 
Но ветер дунет - и все изменится. 
Море то тише мыши, 
То выше крыши 
Взовьет волну. 
В штили молчит и ленится, 
В штормы рычит и пенится, 
Белых своих барашков 
Сгоняя в Северную Двину. 

Утро пропахло ветром, а ветер пахнет лесной морошкою, 
Город пропах рогожей, сырою кожей и табаком. 
Полдень пропах картошкою, полдень пропах окрошкою, 
Хлебом, зеленым луком, копченым салом и молоком. 

(Григорьев-старший)- Шабаш! 
-Все, что недозагружено, будем грузить до ужина, 
Чтобы забить все трюмы и утром баржу отправить в море. 

А наше море не слышит горя, лишь берег точит да камни мочит, 
Бурлит, клокочет и знать не хочет про наши беды на берегу. 

Ну до чего же народ кругом 
Пошел жестокий и обозлённый! 
Всей нашей жизни цена - пятак! 
Того гляди, налетишь на нож! 
Сегодня утром за бочагом 
Пырнули ножиком почтальона. 
Убили малого просто так, 
Убили малого ни за грош! 
Какой кошмар! И куда же только глядит полиция? 
Ну и ну! 
Давно пора засадить в тюрьму 
Всех паразитов и всю шпану. 

- Эй, Саня, иди поближе. Чего надулся? Садись, покушай! 
- Бабы, вы что, сороки, гляди, немого перепугали! 
- Вырос отцу помощник. Ты ешь картошку, а их не слушай. 
- Лучше на всякий случай гуляй пореже за бочагами. 

- Там ходят лихие люди, 
Ножами машут размером с локоть. 
А наш хозяин шутить не любит, 
А наше дело - мешки волокать, 
Чтоб утром баржу отправить в море. 
А наше море не слышит горя, 
Бурлит, клокочет и знать не хочет про наши беды на берегу. 

Море молчит, как рыба, 
Покуда ветер не переменится. 
Море ленивым зверем лежит под солнцем и греет бок, 
Ветер сегодня ленится, 
Мачты к воде не кренятся, 
Ветер в ушах не воет, и день так светел, 
И нам не стоит бояться горя, бояться бури, 
Покуда море, глаза зажмуря, 
Ленивым зверем, обнявши берег, 
Лежит под солнцем у наших ног.
</PRE></div>
</body>
</html>