<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ПОГИБ ЛИ ТОТ ФРЕГАТ... </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Маргарита

                     Алексей Иващенко

Em            Em7    F#7           H7
Погиб ли тот фрегат, седой волной разбитый,
      Em            Em7    D7          G
Иль, может быть, пират пустил его ко дну,
    F7+       Am6    H7         С
Но капитана ждет красотка Маргарита, -
     Am        Em       Gdim  F#dim Em
А вдруг не утонул, а вдруг   не утонул...               | 2 раза


Ах, как же страшно ждать в неведеньи нелепом,
Песок со зла швырять в зеленую волну.
Зачем вы зеркала прикрыли черным крепом, -
А вдруг не утонул, а вдруг не утонул...                 | 2 раза

А вдруг он жив-здоров, вдруг рано ставить свечи,
А вдруг он в Санта-Круз за ромом завернул,
А вдруг случился штиль иль просто ветер встречный, -
Ну вдруг не утонул, ну вдруг не утонул...               | 2 раза

И вот, когда беда покажет глаз совиный,
И безнадежный мрак затянет все вокруг,
Когда приспустят флаг в порту до половины,
Останется одно, последнее, "А вдруг "...                | 2 раза

1984</PRE></div>
</body>
</html>