<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ПОРА ПО ПИВУ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Пора по пиву

A7/c#  Dm7     G7        C    H   C
Если климат тяжел и враждебен астрал,
A7/c# Dm7    G7        C      H  C
Если поезд ушел и все рельсы забрал,
     Gm6/b     A7      Dm       F#dim
Если пусто в душе и не любит никто --
     C                    G7
Это значит, это значит, означает это, что

Припев :

        C       A7/c#       Dm      G7
Пора по пиву, пора, пора по пиву, пора,
        C       A7/c#       Dm      G7
Пора по пиву, пора, пора по пиву, пора,
        Gm6/b             A7     Dm
Пора по пиву, по пиву, по пиву пора,     \
           Fm7+  C          G7      C    > 2 раза
С ним не берет мороз и не страшна жара.  /


2. Если по уму и здоровья заряд;
  Если веришь всему что вокруг говорят;
  Если хочется жить лет как минимум сто,
  Это значит, это значит,
  Означает это - что...

Припев.

3. Если жажда томит и на уме лишь одно;
  И как-будто магнит уже бездействует но,
  Если сладость мутит и если водка не то,
  Это значит, это значит,
  Означает это - что...

Припев.
  Пора по пиву, пора,
  Пора по пиву, пора,
  Пора по пиву, пора,
  Пора по пиву, пора,
  Пора по пиву, по пиву, по пиву пора,
  С ним не берет мороз и не страшна жара.
  Пора по пиву, по пиву, по пиву пора,
  С ним не берет мороз и остиозондроз,
  С ним не страшна жара.
  Гип-гип ему Ура !
  
</PRE></div>
</body>
</html>