<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ПРИХОДИТ УТРО </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Утро

                        Георгий Васильев

Приходит утро в каждый дом,
Предупреждая птичьим щебетом о том,
Что бесполезно дремать, цепляясь за кровать, |
Что пробил час - пора вставать.              | 2 раза

Любовь приходит в каждый дом,
Предупреждая страстным шёпотом о том,
Что бесполезно робеть и ухо теребить,        |
Что пробил час - пора любить.                | 2 раза

Приходят дети в каждый дом,
Предупреждая шевелением о том,
Что бесполезно нам ножки крестиком держать,  |
Что пробил час - пора рожать...              | 2 раза

Приходит счастье в каждый дом,
Предупреждая чем-то крохотным о том,
Что бесполезно в тоске зашторивать окно,     |
Что пробил час, что вот ОНО!                 | 2 раза</PRE></div>
</body>
</html>