<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ПРО ТЕСТО </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Песня про тесто

                 А.Иващенко,
                 Г.Васильев
                   Бурда

Ни запретом, ни арестом,
           Ни паденьем с Эвереста,
Ни другим подобным средством
           Нас теперь не запугать!
Будем петь мы повсеместно
           Песни гордые про тесто
Остальное все нечестно,
           Не желаем больше лгать!
Зовет нас песен про тесто клич,
           Граждане, все остальное ­ кич!
Граждане, тесно сомкнув ряды,
           Граждане и не туды, ни сюды!

Распевают, что попало,
           А про тесто песен мало.
Про любовь и труд ­ навалом,
           А про тесто ­ в год одна.
А между тем давно известно,
           То, что наше с вами тесто
Очень прелесть, как чудесно,
           Им гордится вся страна.
Да что там, тесто у нас - талант,
           Граждане, тесто у нас ­ гигант,
Граждане, экспортный вариант,
           Граждане, выше любых пропаганд!

  Russian testo is
          the best testo in the world!!!

Загляни в любое место:
           От Хабаровска до Бреста,
Все мы сделаны из теста,
           Из единого куска!
Все по госту, без халтуры,
           Все единой рецептуры,
От работника культуры
           До сотрудника ЧК.
Живем и думаем, как один,
           Граждане, хором едим и бдим
Граждане, правильный наш замес,
           Граждане, движет всемирный прогресс!!!


        Наше тесто всем известно!
        Наше тесто всем известно!
        Наше тесто всем известно!

        Наше тесто, хоть ржаное,
         но зато свое, родное!

        Нашего теста лапша на всяких ушах хороша!

        Не верьте милитаристкой лжи:
         для теста не сои нужно, а ржи!

        Пусть крепнет дружба советских
               хлебо-булочных изделий
         с плодами хлебного дерева
               развивающихся стран!

        Ура!!!

Элегантны и прожжены,
           Ходят крендели-пижоны,
Ходят толпами батоны,
           Не стыдясь своей цены.
Простодушные галушки,
           Сладострастные ватрушки,
Плюшки мягче, чем подушки
           И блины любой длины.
А посмотреть, что у нас внутри,
           Граждане, дьявол нас разбери,
Граждане, можем держать пари,
           Граждане, форменные сухари!

        Мягкое место из нашего теста -
         самое мягкое место!

Мы охотно плесневеем,
           Усыхаем и черствеем,
Чтобы те, кто поважнее,
           Нас не съели на обед.
Да, на вид мы простоваты,
           А на вкус мы пресноваты,
Суховаты, черствоваты,
           И изюминки в нас нет.
А может, кто-то изюм крадет,
           Граждане, в грязный карман кладет,
Граждане, пусть набивает рот,
           Граждане, с ним разберется народ!

Есть не будем колбасу мы,
           А на накопленные суммы
Купим в Африке изюму
           Всевозможнейших сортов.
Напечем тогда ватрушек,
           Кренделей, галушек, плюшек,
Бесхозяйственных горбушек
           И ответственных тортов.
И чтобы нас захотели съесть,
           Граждане, это ж такая честь!
Граждане, плесень бы махом сместь!
           Граждане, и ускорять НТП,
Чтоб наше тесто ­ и тут, и там,
           Граждане, а не под хвост котам,
Граждане, трам-тара-рам-пам-пам!!!
           Граждане, ну и т.д. и т.п.!!!!</PRE></div>
</body>
</html>