<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ПРИСТАНЬ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Московский скорый ждать не станет, 
Нельзя опаздывать к нему. 
Багаж в пути, носильщик нанят, 
Еще мгновение - и канет 
Все наше прошлое во тьму. 

(Кораблев) - Минутной стрелкой сердце ранит 
Разлуки час, прощальный час. 
(Н.А.) - Московский скорый ждать не станет... 
(М.В.) - А море манит, море тянет 
Прийти сюда в последний раз. 

Чтоб снова, как прежде, 
В бессмысленной надежде 
"Святую Марию"
Высматривать вдали. 
И, проклиная почту, 
Ждать писем, веря в то, что 
Они лишь задержались 
В снегах чужой земли. 

(Николай Антонович) 
- Поверьте, Маша, что столица 
Поможет высохнуть слезам. 
Пора с небес уже спуститься, 
С Иваном Палычем проститься 
И отправляться на вокзал. 

(Кораблев) - Чтоб в незаконченном романе 
Начать еще одну главу... 
(Н.А.) - Экспресс не терпит опозданий! 
(М.В.) - Прощайте, друг мой! 
(Кораблев) - До свиданья! 
(М.В.) - Переезжайте к нам в Москву! 

(Кораблев) 
- Приеду, приеду, 
Чтоб снова стать соседом, 
Чтоб снова стать тенью 
У Ваших ног в Москве. 
Быть другом - и не боле, 
Не зная, что за роли 
Отведены судьбою 
Нам в следущей главе. 
</PRE></div>
</body>
</html>