<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ПРОЩАЙТЕ, ПРОЩАЙТЕ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Прощайте, прощайте на вечные веки...

Прощайте, прощайте на вечные веки,
Зажав в кулаке долгожданный билет.
Забудьте, забудьте о том человеке,
Которого знали вы тысячу лет.

Забудьте того, кто по мелочи жался
И книжки читал о великих делах.
Забудьте того, кто всю жизнь отражался
Одним отраженьем во всех зеркалах.

Спешу я туда, где пустыни и горы,
Где море кипит и шумят города.
И если вернусь я, то очень не скоро,
А прежним уже не вернусь никогда.

Там сбудется все - от триумфа до краха,
От тягостных слов до счастливых примет,
И сердце щемит от восторга и страха,
И знаю прекрасно, что выбора нет.

Поставьте же крест на страдальце убогом,
Который сбежал, оборвав поводок.
Прощайте, прощайте, пора в путь-дорогу, -
Даю напоследок протяжный гудок.</PRE></div>
</body>
</html>