<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> РАСПЛЕСКАЛАСЬ БУРЯ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Буря

Расплескалась буря,
Разыгралась буря,
Что ей дуре?
Ну что ей, дуре?
Было очень просто
Ей меня забросить
На безлюдный остров,
Дикий остров.

Мне надоел монолог под прибой,
Существованье мой одиноко,
Брошен один я без надежды, веры и срока,
Но где ещё на свете может быть такой общественный порядок и покой?

Если со мною случится беда,
В мире об этом никто не узнает,
Не подойдёт, не пожалеет, не обласкает,
Но у меня зато всегда в достатке солнце, воздух и вода.

Парус белеет, а я не кричу,
Я не из тех, чья надежда на случай,
Вечно спокоен, хладнокровен, жизнью научен,
Имею твердь земную под ногами и от добра добра я не ищу.
Вечно спокоен, хладнокровен, жизнью научен,
Имею твердь земную под ногами и от добра добра я не ищу.
Имею твердь земную под ногами,
Имею твердь земную под ногами,
Имею твердь земную под ногами и от добра добра я не ищу.
Имею твердь земную под ногами, от добра добра я не ищу.</PRE></div>
</body>
</html>