<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> РОДОСЛОВНАЯ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Мой дикий предок

                Алексей Иващенко

Как зачаровывает нас
Привычный звук привычных фраз,
О, как бездарно мы используем слова.
Ах, мне б хоть раз закрыть глаза,
Взять то, что только что сказал,
Собрать в четыре строчки и зарифмовать.

О, Боже мой, как нелегко
Своим дрожащим языком
Из глупых фраз сплести затейливый венок.
Пятнадцать раз размер сменю,
Но ничего не сочиню
И оправданье вижу этому одно:

        Всё дело в том, что это творческое кредо,
        Как видно, с генами в крови досталось мне, 
        Ведь миллионы лет назад мой дикий предок
        Творил поэзию зубилом по стене.

Как зачаровывает нас
Прощальный блеск любимых глаз.
Я вижу Вас и вновь кружится голова.
Ах, мне б вернуть тот миг назад,
Мне взять бы Ваш прощальный взгляд,
Собрать в четыре строчки и зарифмовать.

Я убежал бы, если б смог,
Зарыл бы голову в песок,
Закрыл глаза, захлопнут уши, лёг на дно,
Но даже вьюгам Антарктид
Меня, пожалуй не спасти,
Я оправданье вижу этому одно:

        Да, я едва ли далеко от Вас уеду - 
        От злой любви бежать - нечестная игра,
        Ведь миллионы лет назад мой дикий предок
        Не смог уехать от моей пра-пра-пра-пра...

Быть может, виноват во всем
Набор каких-то хромосом,
Но я ни боль, ни радость не могу скрывать,
Я лишь могу, глаза закрыв,
Свой необузданный порыв
Собрать в четыре строчки и зарифмовать.

Когда бессильны все слова,
Клыком подушку разорвать,
Лохматой лапой расцарапав весь паркет.
Быть может, слаб я и не прав,
Но в синеве дремучих трав
Я вижу пращура с дубиною в руке.

        И кровь неистового зверя-людоеда
        В минуту злости приливает к голове -
        Так миллионы лет назад мой дикий предок
        Катался в бешенстве по голубой траве.

В дни поражений и потерь
Я, как и ты, немного зверь - 
У нас одна, в конце концов, природа-мать.
Я для того язык постиг, 
Чтоб твой весенний брачный крик
Собрать в четыре строчки и зарифмовать.

И я могу теперь всегда
Свои просчеты оправдать - 
Мне лично Дарвин оправдание нашёл.
Ведь если есть во мне изъян - 
Так это всё от обезьян,
А от людей во мне всё очень хорошо.

        Я в поражениях мечтаю о победах
        И утешаюсь предстоящим торжеством,
        Ведь миллионы лет назад мой дикий предок
        Был человек. И я горжусь таким родством.</PRE></div>
</body>
</html>