<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> САМОЛЕТ-ВЕРТОЛЕТ-ПУЛЕМЕТ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Про самолет и вертолет

                     Алексей Иващенко

У обрыва сижу на краю.
И что вижу, о том и пою.
Вот в дали полетел самолет,
А за ним полетел вертолет.

А куда ты летишь, вертолет?
А туда же, куда самолет.
А куда ты летишь, самолет?
А туда, куда хочет народ.

А ты скажи мне, товарищь, пилот.
А для чего тебе твой самолет?
А для того мене мой самолет,
Чтоб меня не догнал вертолет.

А ты скажи мне, товарищь полот,
А для чего тебе твой вертолет?
А для того мене мой вертолет,
Чтобы мог я догнать самолет.

Так ты ж не можешь догнать самолет,
Ведь он летит, куда хочет народ.
Ну тогда мене мой вертолет,
Чтоб меня не догнал пешеход.

Ну и что же, что я пешеход.
Я отправлюсь в большущий поход.
И сперва догоню вертолет,               |
А потом догоню самолет.                 | 2 раза

1983</PRE></div>
</body>
</html>