<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> СКАЖИ-КА, ДЯДЯ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Скажи-ка, дядя

                Георгий Васильев

Скажи-ка, дядя, ведь не даром,
Мы с детства знаем назубок,
Как в битве нового со старым   |
Погиб отважный колобок.        | 2 раза

Скажи-ка, дядя, ведь не зря же
Зашито в юные мозги:
Быть начеку, стоять на страже  |
И помнить, что кругом враги.   | 2 раза

Скажи-ка, дядя, отчего же
Не начеку мы всякий раз,
Когда придёт денёк погожий     |
И что-то встрепенётся в нас.   | 2 раза

Ах, добрый дядя, мудрый дядя!
К чему во всём искать подвох?
Скажи, в глаза потомкам глядя, |
Что этот мир не так уж плох.   | 2 раза

Скажи-ка, дядя, нам несчастным,
Что жизнь кокетливей актрис,
Что все страданья не напрасны  |
И нас волшебный ждёт сюрприз.  | 2 раза

Скажи нам твёрдо, без оглядки,
Душевных слов не пожалей,
Скажи, что будет всё в порядке |
И сердцу станет веселей.       | 2 раза</PRE></div>
</body>
</html>