<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> СКВОЗЬ ТЬМУ ВЕКОВ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Сквозь тьму веков

                А.Иващенко

Нас хан Мамай хотел скрестить с ордой великой,
Да в жилах кровь не смог разбавить у Руси,
И мы остались силой праведной но дикою,
И мать-земля - источник вечных наших сил.

Мы доброту и злость - два компонента главные
Сквозь тьму веков в крови сумели пронести.
И мы осталися культурой православною,
Не зря же нас Владимир Солнышко крестил.

Нам жилы рвали сапогом враги поганые,
Да веру Русь сменить заставшиь чёрта с два,
И мы осталися - Алёнушки с Иванами,
Я даже сам в какой-то степени Иван.

Хотя б для опыта, хотя б на пару месяцев,
Пустить бы вновь в России водку по рублю.
Россия мечется, дерётся, пьёт и бесится,
Она такая, я такой её люблю.</PRE></div>
</body>
</html>