<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> СПОКОЙСТВИЕ, СПОКОЙСТВИЕ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Афганцам

                (Г.Васильев)

Спокойствие, спокойствие, и всё наверняка
Устроится, наладится, притрётся,
Не всё ещё, не всё ещё потеряно пока,
Гвардеец над бедой своей смеётся.

Друг сердечный, друг мой дорогой,
Побывал в гробу одной ногой,
Но другую пришлось оставить там,
Но зато живым вернулся сам.

Спокойствие, спокойствие, и всё наверняка
Устроится, наладится, притрётся,
Не всё ещё, не всё ещё потеряно пока,
Одна нога в резерве остаётся.

Друг сердечный, друг мой дорогой,
Побывал в гробу одной ногой,
С горя мог другой туда ступить, 
Но раздумал, взял - и бросил пить.

Спокойствие, спокойствие, и всё наверняка
Устроится, притрётся, состоится,
Не всё ещё, не всё ещё потеряно пока,
Гвардеец правотой своей гордится.

Друг сердечный, друг мой дорогой,
Поплатился собственной ногой,
Но вернулся из-за рубежа
По-геройски голову держа.

Всё правильно, всё правильно, иначе волком выть
Иначе всё ужасно бестолково,
И надо было, надо было кровь свою пролить,
Ведь не было же выхода другого.

Друг сердечный, друг мой дорогой,
Поплатился только ли ногой,
Смотрит взглядом острым, как тесак,
Только видит - как-то всё не так.

Спокойствие, спокойствие, и всё наверняка
Устроится, наладится, притрётся,
Не всё ещё, не всё ещё потеряно пока,
Надежда есть, что зрение вернётся,
Надежда есть, что зрение вернётся.</PRE></div>
</body>
</html>