<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ТРОЯК </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Трояк

E E7 Am7 C Hm D7 G F# F E E7 Am7 C Hm D D/C D7/H D7/A

G Am7          Hm7  Bm7
Шел, вздыхал да охал,
Am7 C7+ D7     G A7 D7 G
не знал,  куда шел.
G  Am7         Hm7 E7
Ой, как было плохо,
    Am7 D7  G F# F
и вдруг хорошо.

E       E7      Am7 C
Мятая зеленая бумажка
Hm           D7         G
путь мой осветила, как маяк -
B7       A7    B7         A7
это не обертка и не промокашка,
B7         B7        D7
это же, товарищи, трояк!

Все вздыхал да охал,
а тут вот нашел.
Ой, как было плохо,
и вдруг хорошо.
И ведь знаю: кто-то щас страдает,
обронивши трешку на бегу,
а меня мерзавца радость распирает,
ничего поделать не могу.

Шел, вздыхал да охал,
и счастье нашел.
Раньше было плохо,
теперь - хорошо.
Я вчера забыл взять рубль сдачи,
а сегодня прибыль - целых три.
Это грандиозно, это знак удачи,
знак удачи, черт меня дери!

Плохо, плохо, плохо
и вдруг хорошо.
Так, глядишь, по крохам,
и целый мешок.</PRE></div>
</body>
</html>