<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> У МАГАЗИНА 'ЭЛЕКТРОНИКА' </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>У магазина "Электроника"

                Алексей Иващенко

У магазина "Электроника"
Стоят машиночки пожарные -
Они хотели электронику
Тушить зелёною водой.
Но не горела "Электроника"
И зря приехали пожарные,
И им работы не досталося, 
И им пора езжать домой.

        А им не хочется,
        А им не хочется.

А им домой езжать не хочется -
Они с огнём бороться призваны
И им с огнём бороться хочется,
И электронику спасать,
И хулигана телефонного,
Что их встревожил ложным вызовом,
Связать тугим брандспойтом хочется,
И всей командой покусать.

        Да где ж его найдёшь?
        Да где ж его найдёшь?

У магазина "Электроника"
Ажиотация кошмарная.
Там продаётся электроника
И все берут по три кило.
А мы с тобою улыбаемся,
Как безработные пожарные,
Мы всё давно бы потушили бы,
Когда бы было бы чего.

        Но нету ничего...
        Но нету ничего...
        Но нету ничего...
        Но нету ничего...</PRE></div>
</body>
</html>