<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ФОРТЕПИАНО </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Посвящение роялю        Г.Васильев


     D         G   H7
Я обожаю фортепьяно,
          E    Em   A7
Когда слегка бываю пьяным,
             F#   F#7   Hm
И с чувством полного комфорта
         H7        E
На нем играю форте-форте.
   E7      A           D
По черным клавишам, по белым
F#7          Hm      H7    E7
Люблю долбать под этим делом,
      C#7         F#m
Но более всего в рояли
         F#7      H
Ценю две медные педали.
           C#7      C#m
В педалях вся его душа -
   A      E      H7    E
На них нажмешь разок и ша !</PRE></div>
</body>
</html>