<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ЧАСТУШКИ-АПОКАЛИПСУШКИ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>ЧАСТУШКИ-АПОКАЛИПСУШКИ

       Я плыву на катере,
       Крою всех по матери...
       Отчего же, отчего
       Нет воды в фарватере?

Звон скрежещет по камням,
Стон стоит по пристаням,
Там слезами умываясь,
Рыба требует ням-ням.
Вместо корма ей везут
Отработанный мазут. 
Мазут!
Рыба плавниками бь©т,
Птица рыбу не клю©т 
И от голоду немедля
Богу душу отда©т.
Звери, птицу не поев,
Умирают, околев.
Не поев!
У клещей и прочих блох
Рацион из рук вон плох,
Потому что мир животных
Преимущественно сдох.
Гнус в отсутствии зверей
Кровь сос©т у егерей.
Сатанеют егеря,
И окурками соря,
Невзирая на пожары,
Нервно курят поч©м зря.
Дым вста©т под небеса -
То горят, горят леса.
Без растительных пород
Изчезает кислород, 
А без оного без газу
Задыхается народ.
Задыхается народ, 
А по колхозам недород.
Я на палубе стою,
Плохо себя чувствую.
Я на палубе стою,
Чувствую...
Ах мне бы бы бы
Плыть отсель на катере,
К растакой-то матери,
Да видать не суждено -
Нет воды в фарватере.
Да видать не суждено -
Нет воды в фарватере!

</PRE></div>
</body>
</html>