<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ЧЕЛЕНТАНО </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Челентано

                А.Иващенко

Согнул меня мой тайный груз,
Я с ним встаю, я с ним ложусь,
Он как свинцовая печать,
Он словно камень на плечах,
И никому, глаза в глаза,
Нельзя всей правды рассказать.
И давит он со всех сторон,
И я так больше не могу,
И как во сне домой бегу,
И вот включён магнитофон,
И лишь нажать осталось мне
На воспроизведение.

Припев: Бона сера, мео синьоре,
        Бона сера, друг мой странный.
        Челентано -
        Собеседник хриплый мой.
        Каждый вечер Челентано
        Дольче, дольче, пьяно, пьяно.
        Ты со мной, каждый вечер ты со мной,
        Челентано - собеседник хриплый мой,
        Собеседник хриплый мой...

Что толку вычислять исход,
Искать какие-то пути,
Я твёрдо знаю наперёд
Что мне к решенью не прийти,
Что нужно ждать, и не тужить,
Что просто нужно пережить.
Ах, чужеземные слова,
Я вашим ритмом увлечён,
Пусть тяжелеет голова,
И думать можно ни о чём,
Почти забыть родной язык,
Я к итальянскому привык.

Припев.

И каждый вечер даришь ты
Своё сознанье правоты,
Своё умение грустить -
Спокойный и надёжный стиль.
Вопросов ты не задаёшь,
Лишь с нужной громкостью поёшь.
Ты лечишь так, как лечит друг
И отступает мой недуг,
Ещё денёк, ещё чуть-чуть,
И я твой голос не включу,
И жизнь течёт, и каждый час
Всё больше отдаляет нас.

Припев: Каждый вечер Челентано
        Дольче, дольче, пьяно, пьяно.
        Ты со мной, каждый вечер ты со мной,
        Челентано - собеседник хриплый мой,
        Собеседник хриплый мой,
        Собеседник хриплый мой...</PRE></div>
</body>
</html>