<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ШЕСТАЯ ГОРОДСКАЯ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Не церковно-приходская, 
Не какой-нибудь приют, 
А шестая городская, 
Где и кормят и не бьют. 

- Проходи, располагайся, 
Будь как дома. 
(Ромашка)- Не пугайся, 
Если кто тебя немножечко куснёт! 
Здесь у Жукова под койкой 
Два ужа и землеройка - 
Новичка всегда кусают, как заснёт! 
(Валька)- Да ты не слушай, он не то еще загнёт! 
Ты зверей моих не бойся, 
Не съедят, не беспокойся! 

(Ромашка)- Хочешь выжить - сдвинь кровать на два шага. 
(Саня) - А я и так не беспокоюсь, 
Я отсюда завтра смоюсь. 
До утра пересижу - и на юга! 
- Ну и дурак, не сображаешь ни фига! 

Тут и тепло, и уют, 
Тут и харчи, и нету вошей, 
Тут в самолётном кружке 
Мы мастерим аэроплан! 
Тут и обувку дают, 
И коллектив - тьфу-тьфу! - хороший. 
Короче, меняй свой план! 


Ух ты, сумка мировая! 
Эй, махнёмся на мою? 
- Не-е. - От сердца отрываю! 
Не продашь? - Не продаю! 

- Сколько писем! Полагаю, 
Все любовные они? 
"Милый друг мой, дорогая 
Моя Машенька..." - Верни! 
- Что ещё за Николай? 
Не соперник ли? - Отдай! 
- Ой-ёй-ёй, какие страсти! 
- Эй, ребят, кончай бузу! 
Не хватало вместо "здрасте" 
Вам фингалов на глазу. 

- Эти письма, что когда-то 
Не дошли до адресата - 
Мой единственный архангельский багаж. 
Я читать по ним учился, 
Был немым и излечился, 
Я их знаю наизусть, как "Отче Наш". 
-То-то, я чувствую, ты сумку не продашь! 

-Что за шум, а драки нету? 
Кто тут новенький? - Вот этот! 
- Ну и как он? - Парень - во! 
Не лезь, побьёт! 
Только что чуть не подрался 
И уже сбегать собрался! 
- Как сбегать? И даже чаю не попьёт?! 
- Ну это ж надо, а на вид - не идиот! 

Не церковно-приходская, 
Не какой-нибудь приют, 
Здесь шестая городская, 
Где грядущее куют! 

По методе перспективной 
Учат здесь факультативно. 
Парле ву франсэ, не хочешь - не парле! 
Мы вообще, промежду прочим, 
Тут что хочем - то и мочим, 
Тут права у нас даны любой сопле. 
Жалко, девчонки все живут в другом крыле. 

Здесь на ужин тётя Глаша 
Варит ячневую кашу. 
Харч отменный, а не хватит - поделюсь! 
Слышь, Григорьев, не ломайся - 
Оставайся, оставайся, 
Оставайся, оставайся, 
Оставайся, оставайся, 
Оставайся, оставайся! 
- Остаюсь!!! 
</PRE></div>
</body>
</html>