<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ШИПУЧЕЕ ВИНО </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Шипучее вино

A | A5+ | A | A5+ | A

     A          D6
То рыдает, то хохочет,
      Esus7   E7     A    A5+/F
То на кухню к нам тайком
     A9           Hm5-
Просочиться ветер хочет,
      C#7          F#m
Притворяясь сквозняком.
 E7   A            Hm5-
Снег упал на всю округу,
     C#7           F#m7 | F#m6
За окном темным темно.
Dm7           A
Мы, не глядя друг на друга,
Esus7 E7   A
Пьем шипу ч е е вино.

A5+ | A | E5+ | E | A5+ | A | E5+ | E

А вина то - кот наплакал,
А цена то - дорога,
Наши вечные зарплаты,
Наши дикие бега.
Наши дети, наша ругань -
Это было так давно.
Мы, не глядя друг на друга,
Пьем шипучее вино.

A | C#7 | F#m7 | A7 | D | Dm7 | A
A5+ | A | E5+ | E | A5+ | A | E5+ | E

О взаимных наших болях
Рассуждаем мы шутя.
А во мраке что-то воет,
Что-то плачет, как дитя.
То ли время, то ли вьюга -
Впрочем, это все одно,
 D          A
Ведь со мной моя подруга
    Esus7 E7   A
И шипу ч е е вино.

То ли время, то ли вьюга -
Впрочем, это все одно,
 Dm7        A
Ведь со мной моя подруга
    Esus7 E7   A  A5+  A
И шипу ч е е вино.</PRE></div>
</body>
</html>