<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ЭЛЕКТРИК ПЕТРОВ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>ЛИЧНАЯ ЖИЗНЬ ЭЛЕКТРИКА ПЕТРОВА

               Я спросил электрика Петрова:
               ``Ты зачем надел на шею провод?''
               Ничего Петров не отвечает,
               Только молча ботами качает.

Ах она его за руки полюбила,
Ну а он е© за ноги и глаза.
Ах она шептала: "Что ж молчишь ты, милый?"
Ну а он вс© думал, что бы ей сказать.

  Не дай бог е© обидеть грубым словом,
  Невзначай какую глупость ляпнуть вдруг, - 
  Ведь невеста у электрика Петрова
  Аспирантка в Академии Наук.

Он старался быть начитанным и кротким,
Вместе с ней Дюму и Кафку обожал.
Он по вечерам соседям ж©г проводку,
Чтоб ей телевизор думать не мешал.

  "Не могу о ней сказать чего плохого,"-
  Говорил ему за пивом как-то друг, 
  "Но зачем жене электрика Петрова
  Кандидатом быть каких-то там наук?"

Он водил жену на ©лки и концерты,
Он как трансформатор был представлен к ней...
Только щ©лкал, щ©лкал сч©тчик где-то в сердце,
И контакты грелись, грелись вс© сильней.

  Говорят, что он украл с работы провод
  И заделал в потолок железный крюк...
  Говорят вдова электрика Петрова
  Защитила степень доктора наук.</PRE></div>
</body>
</html>