<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Я ПО БЕРЕГУ ЗАЛИВА </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>В заливе Мексиканском

                Алексей Иващенко

Я по берегу залива
Ранним утром пробегу,
А волна плеснёт ленива
И намочит мне ногу.
Я песок ногою взрою
И оставлю мокрый след,
А волна его накроет,
В море смоет и привет...

        Вот и всё. И что ты бегал, что не бегал...
        Океан - большой зелёный крокодил
        Белой пеной, как моим московским снегом
        Смоет всё, что я вокруг понаследил.

На просторе океанском
Штормы песенки поют,
А в заливе Мексиканском
Исключительный уют.
В нём полным-полно планктона,
Рыбы, птицы и зверья,
В нём в трусах своих зелёных
По утрам бываю я.

        И кружатся, и кружатся, и кружатся
        Пеликаны, попугаи, воробьи
        И ещё, примерно, поводов пятнадцать
        Размышлять о жизни, счастье и любви.

Я по берегу залива 
Поздним вечером пройду
И нога моя пугливо
Вдруг почувствует водУ,
И душа моя нежданно
Вдруг почувствует тоску,
И тогда я чемоданы
Упакую и ку-ку!

        Вот и всё. Пора домой, в родные стены
        И следы океанических забот
        Белым снегом, как моей солёной пеной
        Постепенно, постепенно занесёт.</PRE></div>
</body>
</html>