<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Я ТОТ ЖЕ САМЫЙ ЧЕЛОВЕК </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Я тот же самый человек...

1. Я тот же самый человек, что пил вино и бил баклуши,
  Что не считал счастливых дней и незаслуженных обид,
  Мой голос просто стал чуть-чуть поравнодушней и поглуше,
  Я просто спрятался в пиджак и приобрел товарный вид.
  
2. Я тот же самый человек, который мог любить по почте,
  Кто чувства вкладывал в конверт и ждал ответного в письме,
  Я лишь заполнил закрома, сняв урожай на нервной почве,
  Разгладил желтые листы и приготовился к зиме.
  
3. Я тот же самый человек, который ветра не упустит,
  Который бури не проспит в тумане моря голубом,
  Я лишь немного погрустнел вполне естественною грустью,
  Я лишь немного поумнел своим естественным умом,
                       своим естественным умом.
                       
4. Я часто слышу как вода журчит, струясь по перекатам,
  И попираю млечный путь своею мысленной ногой,
  Я лишь слегка отяжелел и стал чуть более женатым,
  Но я все тот же человек и никакой-нибудь другой,
                       и никакой-нибудь другой.</PRE></div>
</body>
</html>