<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Я ХОЧУ БЫТЬ ВЫСОКОЙ СОСНОЙ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Сосна

    A7   A7/H   A7/C#   D   D/C#   D/H   А   F   E7   А

   А         E7       А      A7
Я хочу быть высокой сосною,
       D                    А
Чтобы жизнь не прошла впопыхах,
         Е    C#7/F      F#m   D6
Чтоб знакомый орел надо мною
     А      E7         А
Ежедневно парил в небесах.

Чтоб корнями широко раздаться
И стоять, не считая года,
Чтобы шишками сверху  кидаться
Без опаски попасть не туда.

     A7   A7/H   A7/C#   D   D/C#   D/H   А   F   E7   А

Я хочу быть высокой сосною,
Чтоб бездельничать век напролет,
По утрам не расчесывать хвою
И мыться, пока не польет.

Чтоб не ведать конца и начала
И не видеть асфальта в огне,
Чтоб шуметь о своем величаво,
Не заботясь о завтрашнем дне.

    A7   A7/H   A7/C#   D   D/C#   D/H   А   F   E7   А

Я хочу быть высокой сосною,
Чтобы время катилось рекой,
Чтобы ты, проходя подо мною,
По коре проводила рукой.

    A7   A7/H   A7/C#   D   D/C#   D/H   А   F   E7   А</PRE></div>
</body>
</html>