<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> ЯГОДЫ ЖУЯ </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div><PRE>Ягоды жуя...

Лунку выкопал кто-то,
На стороне где-то саженец выбил,
Приладил так, чтобы веточки дыбом,
И окружил материнской заботой...
Поначалу несуразно и криво,
От полива к поливу,
День за днем, год за годом, склонясь терпеливо,
Наливалось понемножечку соком,
И к положенным срокам
Деревцо разрослось под недремлющим оком...

Некто в страдную пору
Собрал с него урожай подходящий,
Пересчитал по семь раз каждый ящик,
Взял левака и отправился в город...
По тарифу расплатившись на рынке
За весы и корзинки,
Он устроился в самой, что есть серединке,
И с волненьем (бескорыстным, конечно),
Со счастливой усмешкой
Весь прилавок усыпал он спелой черешней...

Вовсе с ним не торгуясь,
Ну, разве что так, самую малость,
Я взял попробовать штучку-другую,
И попросил взвесить все, что осталось...
А под вечер, так намаявшись за день,
Справедливости ради
Сам себя я представил к высокой награде:
Ел черешню на открытом окошке
И стрелял понарошку,
Спелой косточкой метя в соседскую кошку...

    Ягоды жуя не спеша,
    Думал я, что жизнь хороша,
    Думал я, что жизнь хороша,
    Ягоды жуя не спеша...
    Ягоды жуя не спеша,
    Думал я, что жизнь хороша,
    Думал я, что жизнь хороша,
    Ягоды жуя не спеша...

И хорошо, что в лунку
Приладил деревце кто-то,
И окружил материнской заботой,
Чтоб оно наливалось понемножечку соком,
И к положенным срокам
Разрослось во всю мощь под недремлющим оком,
Разрослось во всю мощь...</PRE></div>
</body>
</html>